/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arrow-drop-container {
  flex-grow: 1;
}

#arrow-drop-icon {
  height: var(--navigation-icon-button-size);
  width: var(--navigation-icon-button-size);
}

#back-button {
  height: var(--navigation-icon-button-size);
  width: var(--navigation-icon-button-size);
}

#back-button-container {
  -webkit-padding-end: 4px;
}

#close-button {
  -webkit-margin-start: auto;
  height: 31px;
  width: 31px;
}

#close-button-container {
  -webkit-margin-start: auto;
  -webkit-padding-end: 16px;
  -webkit-padding-start: 24px;
}

#header {
  -webkit-padding-start: 8px;
  align-items: center;
  color: white;
}

#header-and-arrow-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

#header-text {
  -webkit-padding-end: 4px;
  font-size: 1.175em;
  line-height: 36px;
  margin: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.issue {
  background-color: var(--paper-red-700);
}

paper-icon-button {
  display: inline-block;
}

#main-container {
  display: flex;
  padding-top: 10px;
}

.cast-mode-list,
.filter,
.route-details,
.sink-list {
  background-color: var(--paper-blue-700);
}

#user-email-container {
  -webkit-padding-start: 8px;
  bottom: 0;
  font-size: 0.917em;
  left: auto;
  padding-bottom: 12px;
  position: absolute;
}
