/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  background-color: rgb(247, 247, 247);
  margin: 0;
}

#details {
  box-sizing: border-box;
  color: rgba(0, 0, 0, .54);
  font-family: Roboto-Regular, sans-serif;
  font-size: 0.93333em;
  height: auto;
  line-height: 1.48em;
  margin: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#details.hidden {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0;
  transition: none;
}

#details-link {
  color: rgba(0, 0, 0, .38);
  text-decoration: underline;
  text-transform: none;
}

h1 {
  color: rgba(0, 0, 0, .38);
  font-family: Roboto-Regular, sans-serif;
  font-size: 0.93333em;
  font-weight: normal;
  line-height: 1.4em;
  margin: 8px 0 8px;
}

.giant .icon {
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.giant #details,
.giant #main-message {
  display: none;
}

.icon {
  background-image: url(images/blocked.svg);
  background-position: center;
  height: 20vh;
  margin: 0 auto;
  max-height: 48px;
  max-width: 48px;
  min-height: 18px;
  min-width: 18px;
  opacity: .54;
  width: 20vh;
}

.interstitial-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 auto;
  max-width: 480px;
  padding: 16px;
  width: 100%;
}

#main-content {
  align-self: auto;
  flex: 0 1 auto;
  text-align: center;
}

@media (max-height:2em), (max-width:2em) {
  .icon {
    display: none;
  }
}

@media (min-height:25em) and (min-width:37.5em),
       (min-height:37.5em) and (min-width:25em) {
  .interstitial-wrapper {
    padding: 48px;
  }
}

/* Views that don't fit the details text. */
@media (max-height:11.25em) and (max-width:18.75em),
       (max-height:18.75em) and (max-width:11.25em),
       (max-height:5em), (max-width:5em) {
  .icon {
    max-height: 24px;
    max-width: 24px;
  }

  #details,
  #main-message {
    display: none;
  }
}
