/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.advanced-settings-item {
  cursor: default;
  display: table-row;
}

.advanced-settings-item > * {
  padding-bottom: 15px;
  padding-top: 10px;
}

.advanced-settings-item-label {
  -webkit-padding-end: 20px;
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
}

.advanced-settings-item-name .search-hint {
  -webkit-margin-start: 1em;
  color: #999;
  font-size: 75%;
}

.advanced-settings-item-query-highlight {
  background-color: rgba(255, 240, 120, 0.9);
}

.advanced-settings-item-value {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 175px;
}

.advanced-settings-item-value-select-control {
  line-height: 24px;
}

.advanced-settings-item-value-text-control {
  height: 28px;
  line-height: 24px;
  width: 175px;
}
