/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#advanced-settings {
  z-index: 3;
}

#advanced-settings.transparent {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

#advanced-settings .page {
  width: 500px;
}

#advanced-settings > .page > .close-button {
  top: 9px;
}

#advanced-settings .search-box-area {
  padding: 15px 17px;
}

#advanced-settings .search-box {
  user-select: none;
}

#advanced-settings .no-settings-match-hint {
  -webkit-padding-start: 17px;
  color: #999;
  padding-bottom: 8px;
  padding-top: 8px;
}

#advanced-settings .settings-area {
  overflow-y: auto;
  padding: 0 17px;
}

#advanced-settings .settings {
  border-spacing: 0;
  display: table;
  position: relative;
  width: 100%;
}

.advanced-settings-item-extra-padding {
  display: table-row;
  height: 15px;
}
