/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#edit-bg {
  border-radius: 8px;
  bottom: 16px;
  height: 28px;
  position: fixed;
  right: 16px;
  width: 28px;
}

#edit-bg:hover {
  background-color: rgb(241, 243, 244);
}

#edit-bg-gear:focus {
  outline: 0;
}

#edit-bg-gear {
  background: url(../../../../ui/webui/resources/images/icon_settings.svg) no-repeat center;
  background-size: 16px 16px;
  height: 100%;
  width: 100%;
}

.non-white-bg #edit-bg-gear {
  background: url(../../../../ui/webui/resources/images/icon_settings_white.svg) no-repeat center;
  background-size: 16px 16px;
}

#edit-bg-overlay {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#edit-bg-dialog {
  background: #fff;
  border-radius: 8px;
  border-style: outset;
  border-width: thin;
  bottom: 44px;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  padding-bottom: 16px;
  position: fixed;
  right: 16px;
  width: 325px;
}

#edit-bg-title {
  color: rgb(32, 33, 36);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  height: 30px;
  padding: 16px 0 0 16px;
}

.bg-option {
  color: rgb(60, 64, 67);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
}

.bg-option:hover {
  background-color: rgb(241, 243, 244);
}

.bg-option-img {
  background: url(../../../../ui/webui/resources/images/settings.svg) no-repeat center;
  background-size: 24px 24px;
  display: inline-block;
  height: 24px;
  line-height: normal;
  margin: 0 0 0 16px;
  text-align: center;
  vertical-align: middle;
  width: 24px;
}

.bg-option-text {
  display: inline-block;
  line-height: normal;
  padding-left: 16px;
  text-align: center;
  vertical-align: middle;
}

#bg-sel-menu-overlay {
  background-color: rgba(255, 255, 255, .75);
  border: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#bg-sel-menu {
  background-color: #fff;
  border-radius: 4px;
  bottom: 0;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  font-family: 'Roboto', arial, sans-serif;
  height: 400px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 516px;
  z-index: 10000;
}

@media (max-width: 520px) {
   #bg-sel-menu {
     width: 352px;
   }
}

#bg-sel-tiles {
  height: 284px;
  overflow-y: scroll;
  padding-left: 8px;
  width: 100%;
}

#bg-sel-tiles::-webkit-scrollbar {
    display: none;
}

#bg-sel-title-bar {
  font-size: 15px;
  height: 52px;
  line-height: 52px;
  text-align: center;
}

#bg-sel-back {
  background: url(../../../../ui/webui/resources/images/icon_arrow_back.svg) no-repeat center;
  background-size: 16px 16px;
  display: none;
  height: 16px;
  margin: 0 0 0 16px;
  vertical-align: middle;
  width: 16px;
}

.is-col-sel #bg-sel-back {
  display: none;
  text-align: left;
}

.is-img-sel #bg-sel-back {
  display: inline-block;
  float: left;
  margin-top: 18px;
}

#bg-sel-title {
  color: rgb(32, 33, 36);
  display: inline-block;
  line-height: normal;
  padding-left: 16px;
  text-align: center;
  vertical-align: middle;
}

.is-col-sel #bg-sel-title {
  padding-left: 0;
  text-align: center;
}

.is-img-sel #bg-sel-title {
  float: left;
  padding: 18px 0 0 16px;
  text-align: left;
}

#bg-sel-footer {
  bottom: 0;
  box-shadow: 0 -8px 6px -6px rgba(60, 64, 67, 0.3);
  color: rgb(60, 64, 67);
  height: 64px;
  padding-left: 0;
  position: absolute;
  width: 100%;
}

#bg-sel-footer-done {
  background-color: rgb(241, 243, 244);
  border-radius: 4px;
  bottom: 16px;
  height: 24px;
  line-height: normal;
  padding-top: 8px;
  position: absolute;
  right: 16px;
  text-align: center;
  vertical-align: middle;
  width: 52px;
}

.done-available {
  background-color: rgb(66, 133, 244) !important;
  color: #FFF;
}

#bg-sel-footer-toggle-text {
  padding: 24px 0 0 16px;
}

.bg-sel-tile {
  background-color: rgb(32, 33, 36);
  background-size: cover;
  display: inline-block;
  height: 117px;
  margin: 6px 0 0 8px;
  position: relative;
  width: 156px;
}

.bg-selected {
  border: 3px solid rgb(172, 206, 247);
  border-radius: 3px;
  height: 111px;
  width: 150px;
}

.bg-sel-tile-title {
  background-color: rgba(32, 33, 36, 0.71);
  bottom: 0;
  color: #FFF;
  display: inline-block;
  font-size: 13px;
  height: 24px;
  padding: 8px 16px 0 16px;
  position: absolute;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 124px;
}

.bg-selected .bg-sel-tile-title {
  width: 118px;
}

#bg-daily-refresh {
 margin: 23px 0 0 16px;
}

.is-img-sel #bg-daily-refresh {
  display: none;
}

.is-col-sel #bg-daily-refresh {
  display: none;
}

.is-img-sel #bg-sel-refresh-text {
  display: none;
  margin: 24px 0 0 64px;
}

.is-col-sel #bg-sel-refresh-text {
  display: none;
}

.show-overlay {
  display: block !important;
}
