/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
body {
  background: none transparent;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

a {
  display: block;
  text-decoration: none;
}

a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: inherit;
}
