/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
body {
  height: 100%;
  position: absolute;
  width: 100%;
}

a {
  height: 100%;
  position: relative;
  width: 100%;
}

a:focus {
  outline: none;  /* Remove outline from tabIndex = -1. */
}

div {
  bottom: 24px;
  margin: 0 7px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

span.blocker {
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

img.thumbnail {
  height: auto;
  min-height: 100%;
  width: 100%;
}

img.large-icon {
  -webkit-clip-path: inset(0 0 0 0 round 4px);
  height: 48px;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  top: 50%;
  width: 48px;
}
