/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  align-items: center;
  color: var(--google-grey-700);
  display: flex;
  flex-direction: column;
  font-size: 100%;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

.watermark {
  -webkit-mask-image: url(chrome://resources/images/google_logo.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  animation: fadeIn 1s cubic-bezier(0, 0, .2, 1) both;
  background: var(--paper-grey-400);
  bottom: 24px;
  height: 24px;
  position: absolute;
  width: 74px;
}

@media(max-height: 608px) {
  .watermark {
    display: none;
  }
}
