/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* The following are iOS specific rules for rendering on WebKit instead of
 * Blink. */

#mainContent {
  -webkit-flex: 1 1 auto;
}

#closeReaderView {
  -webkit-flex: 0 0 auto;
}

#contentWrap {
  -webkit-flex-flow: column;
  display: -webkit-flex;
}
