/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* main controls */

th, td {
  text-align: center;
}

table {
  margin: 0 auto;
}

table input {
  margin-left: 5px;
}

table input[type="button"] {
  margin-left: 10px;
}

/* additional controls for setup */

.template {
  display: none !important;
}

#swatches {
  display: flex;
  font: 18pt sans;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

#row-highlight {
  background: transparent;
  border: 2pt solid black;
  border-radius: 8px;
  left: 0;
  position: absolute;
  top: 0;
  height: 33%;
  width: 100%;
  z-index: 1;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 5px;
  margin-left: 10px;
}

.swatch {
  border: 1px solid black;
  display: flex;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.row input {
  margin-right: 10px;
}

.swatch span {
  transform: translate(-5px, -22px);
  font: 60pt sans;
  display: flex;
  height: 40px;
  line-height: 1em;
  width: 40px;
  pointer-events: none;
}

#severity {
  margin-left: 50px;
  width: 200px;
}

#button-strip {
  display: flex;
  flex-direction: row;
  flex-pack: end;
  width: 100%;
}

#button-strip input {
  margin-right: 10px;
}

#setup-panel {
  border-top: 1px solid #ddd;
  overflow: hidden;
  max-height: 600px;
  max-width: 800px;
  padding-left: 10px;
  padding-top: 5px;
  transition: max-height 0.8s, max-width 0.8s;
}

#setup-panel.collapsed {
  border-top: 1px transparent;
  max-height: 0;
  max-width: 300px;
}

section.active {
  background: rgb(240, 240, 255);
}

#setup-button-strip {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

#setup-button-strip input:first-child {
  left: 0;
  position: absolute;
  top: 0;
}
