{
  "program": {
    "portable": {
      "pnacl-translate": {
        "url": "remoting_client_plugin_newlib.pexe",
        "optlevel": 2
      }
{% if buildtype == 'Dev' %}
      , "pnacl-debug": {
        "url": "remoting_client_plugin_newlib.pexe.debug",
        "optlevel": 0
      }
{% endif %}
    }
  }
}
