/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  background-color: white;
  color: black;
  font-size: 100%;
  margin: 0;
}

#outer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 90%;
}

.label {
  -webkit-padding-end: 5px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: start;
  white-space: nowrap;
}

#logo {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.app-name {
  -webkit-padding-end: 5px;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  white-space: nowrap;
}

.app-property-label {
  -webkit-padding-end: 5px;
  font-weight: bold;
  text-align: start;
  white-space: nowrap;
}

.app-property-value {
  font-weight: normal;
  text-align: start;
  white-space: nowrap;
}
