/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  font-size: 20px;
}

#info > div {
  width: 100%;
}

#info h2 {
  color: rgb(74, 142, 230);
  font-size: 100%;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

.section-details {
  width: 100%;
}

.section-details > tbody > tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

.section-details .detail,
.section-details .value {
  width: 50%;
}

td.title-link {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.expiry {
  color: gray;
  font-size: 80%;
}

.date {
  white-space: nowrap;
}

.url {
  display: inline-block;
  font-size: 80%;
  word-break: break-all;
}

.snippet-detail {
  font-size: 90%;
}

.hidden {
  display: none;
}

.detail {
  color: gray;
  font-weight: normal;
}

.forms {
  margin-top: 0.3em;
}

#submit-clear {
  margin-bottom: 0.5em;
}

#last-json-text {
  border: 1px solid black;
  color: gray;
  font-size: 90%;
  padding: 4px;
  word-break: break-all;
}

button {
  display: block;
  min-height: 30px;
}

.vertical-buttons > button {
  display: inline-block;
  float: left;
  margin-right: 5px;
  max-width: 100px;
  min-height: 40px;
}

#contextual-suggestions-section input {
  box-sizing: border-box;
  display: block;
  width: 100%;
}
