<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2015 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<!-- package name must be unique. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.chrome.sync_shell.tests">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="ChromeSyncShellTest">
        <uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:name="org.chromium.base.test.BaseChromiumAndroidJUnitRunner"
        android:targetPackage="{{manifest_package}}"
        android:label="Tests for {{manifest_package}}"
        chromium-junit4="true"/>
</manifest>
