/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#value-prop-view {
  display: block;
  height: 256px;
  margin: auto;
}

#retry-button,
#more-button,
#next-button {
  display: none;
}

.value-prop-error #retry-button,
.value-prop-loading #more-button,
.value-prop-loading #next-button,
.value-prop-loaded #more-button,
.value-prop-loaded #next-button,
.value-prop-more #next-button {
  display: block;
}

#loading-container,
#error-container,
#view-container,
#more-container {
  height: 372px;
  overflow: hidden;
  padding: 48px 48px 0 48px;
  position: absolute;
  visibility: hidden;
  width: 480px;
}

#view-container {
  padding-top: 32px;
}

.value-prop-loading-animation #loading-container,
.value-prop-loaded #view-container,
.value-prop-error #error-container,
.value-prop-more #more-container {
  overflow-y: scroll;
  visibility: visible;
}

.value-prop-loading #retry-button,
.value-prop-loading #more-button,
.value-prop-loading #skip-button,
.value-prop-loading #next-button {
  pointer-events: none;
}

.title {
  font-size: 18px;
  padding-bottom: 10px;
}

.sub-title {
  font-size: 12px;
  padding: 8px 0 8px 0;
}

.content {
  color: rgba(0, 0, 0, .54);
  font-size: 11px;
  padding-bottom: 10px;
}

.line {
  background-color: rgba(0, 0, 0, .14);
  height: 1px;
  margin: 8px 0 8px 0;
}

#footer {
  color: rgba(0, 0, 0, .54);
  font-size: 11px;
  padding-top: 4px;
}

#loading-message {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  line: 17px;
  padding: 168px 0 0 0;
}

paper-progress {
  --paper-progress-active-color: rgb(66, 133, 244);
  --paper-progress-container-color: #CEE0FC;
  --paper-progress-secondary-color: rgb(66, 133, 244);
  display: block;
  height: 3px;
  padding: 4px 0 0 0;
  width: 100%;
}

#skip-button {
  color: rgb(66, 133, 244);
}

#retry-button,
#more-button,
#next-button {
  -webkit-margin-end: 18px;
}
