/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#setting_zippy {
  padding-bottom: 14px;
}

.title {
  font-size: 12px;
}

.content {
  color: rgba(0, 0, 0, .54);
  font-size: 11px;
  padding: 6px 0 6px 0;
}

.icon {
  min-width: 38px;
}

.icon-view {
  display: block;
  height: 24px;
  width: 24px;
}

.indent {
  padding: 6px 0 0 38px;
}

.line {
  background-color: rgba(0, 0, 0, .14);
  height: 1px;
  margin: 8px 0 8px 0;
}
