/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#content {
  margin: 0;
  max-height: 100%;
  max-width: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

body {
  background-color: white;
  /* properly set font size */
  font-size: medium;
  /* prevent overflowing to enable scrolling */
  height: calc(100vh - 16px);
  margin: 32px;
}

#content[hidden] {
  display: none;
}
