/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host > ::content > * {
  margin: 0;
  padding: 0;
}

dialog {
  background-color: transparent;
  border: none;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 0;
}

dialog[open] {
  opacity: 1;
  transition: opacity 0.2s;
}

dialog:focus {
  outline: none;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.6;
}

.thumbnail {
  flex: none;
  height: 100%;
  width: 100%;
}

#video-poster {
  max-height: 100%;
  max-width: 100%;
}

paper-button:focus:not(:active) {
  box-shadow: 0 0 0 1px rgba(66, 133, 244, 0.5);
}

#audio-artwork {
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

#mainPanel {
  background-color: transparent;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 48px;
  width: 100%;
}

#contentPanel {
  background-color: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
}

#contentPanel[metadata-box-active] {
  margin-right: 320px;
}

:host-context(html[dir='rtl']) #contentPanel[metadata-box-active] {
  margin-right: auto;
  margin-left: 320px;
}

#metadata-button {
  background: -webkit-image-set(
      url(../images/files/ui/quick_view/info_outline.png) 1x,
      url(../images/files/ui/quick_view/2x/info_outline.png) 2x)
    center
    no-repeat;
}

#innerContentPanel {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
  justify-content: center;
  outline: none;
  padding: 32px;
  position: relative;
  text-align: center;
  width: 100%;
}

#innerContentPanel[type="audio"],
#innerContentPanel[type="image"],
#innerContentPanel[type="video"] {
  align-self: center;
}

.content {
  height: 100%;
  width: 100%;
}

#toolbar {
  align-items: center;
  background-color: rgb(40, 42, 45);
  color: white;
  display: flex;
  font-size: 108%;
  height: 48px;
  margin: 0;
  opacity: 0.9;
  padding: 0;
  z-index: 1;
}

#file-path {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-group {
  display: flex;
}

#metadata-button {
  --files-toggle-ripple: {
    background-color: white;
  };
  --files-toggle-ripple-activated: {
    opacity: 0.3;
  };
}

paper-button,
files-icon-button {
  border-radius: 2px;
  height: 32px;
  margin: 0 8px;
  min-width: 32px;
  padding: 0;
}

iron-icon {
  height: 16px;
  width: 16px;
}

#metadata-box {
  background-color: rgba(20, 22, 24, 0.8);
  bottom: 0;
  height: 100%;
  margin: 0;
  opacity: 0.8;
  overflow-y: auto;
  position: absolute;
  right: 0;
}

:host-context(html[dir='rtl']) #metadata-box {
  right: auto;
  left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: rgb(118, 118, 121);
  border: 2.5px solid transparent;
  width: 5px;
}

[hidden] {
  display: none;
}

.no-preview {
  margin-top: 16px;
}

/* Large generic thumbnails, used when a file does not have a thumbnail. */
[generic-thumbnail] {
  background: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_generic.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_generic.png) 2x)
    center
    no-repeat;
  height: 88px;
}

[generic-thumbnail=".folder"] {
  background-image: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_folder.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_folder.png) 2x);
  height: 72px;
}

[generic-thumbnail='audio'] {
  background-image: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_audio.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_audio.png) 2x);
}

[generic-thumbnail='image'] {
  background-image: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_image.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_image.png) 2x);
}

[generic-thumbnail='video'] {
  background-image: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_video.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_video.png) 2x);
  height: 72px;
}
