<div class="product">
  <span class="title">{{name}}</span>
  <span class="right-align">
    <span class="homepage"><a href="{{url}}" target="_blank">homepage</a></span>
    -
    <a class="toggle-licence" href="#">show license</a>
  </span>
  <div class="licence">
    <pre>{{license}}</pre>
  </div>
</div>

