{# Copyright 2016 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file.
#}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Clovis</title>
  <link rel="stylesheet" type="text/css" href="/static/base.css"/>
  <link rel="icon" href="/static/crown_icon.png"/>
</head>

<body>
<header>
  <div class="menu">
    <ul style="border: 1px solid #e7e7e7; background-color: #f3f3f3;">
      <li> <div> Clovis </div>
      <li> <a href="/">New Job</a>
      <li> <a href="/list_jobs">Active Jobs</a>
      <li> <a href="https://chromium.googlesource.com/chromium/src/+/master/tools/android/loading/cloud/frontend/README.md">
             Documentation
           </a>
    </ul>
  </div>
</header>

{# The main content of the page goes here #}
{% block content %}
{% endblock %}

</body>
</html>
