/** Copyright 2017 The Chromium Authors. All rights reserved.
  * Use of this source code is governed by a BSD-style license that can be
  * found in the LICENSE file.
**/

[hidden] {
  display: none !important;
}

.line-chart-root {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.line-chart-canvas-outer {
  flex-grow: 1;
  touch-action: none;
}

.horizontal-scrollbar-outer {
  height: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.horizontal-scrollbar-inner {
  height: 1px;
}

.line-chart-menu {
  display: flex;
  height: 100%;
}

.line-chart-menu-button-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.line-chart-menu-handle {
  background-color: #9a9a9a;
  cursor: pointer;
  height: 100%;
  width: 30px;
}

.line-chart-menu-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  line-height: 1.5em;
  padding: 15px 15px 15px 15px;
  user-select: none;
}

.line-chart-menu-button-inner-span {
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
