// Copyright 2014 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.content.browser.input;

public class CanonicalButtonIndex {
#define CANONICAL_BUTTON_INDEX(name, value) public static final int name = value;
#include "content/browser/gamepad/canonical_button_index_list.h"
}