/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 20px;
}

h1 {
  font-size: 156%;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

html[dir=rtl] h1 {
  background-position: right;
}

#log-banner {
  background-color: rgb(235, 239, 250);
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 100%;
  padding: 4px;
}

#log-list h3 {
  font-size: 100%;
}

#log-list > div > * {
  margin: 0.75em 0;
}

#log-list a:visited {
  color: #666;
}

#log-list > div:not(:last-child) {
  border-bottom: 1px solid #bbb;
}
