/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

table {
  margin-left: 10px;
}

td {
  padding-right: 30px;
}

td[state='in-progress'] {
  color: orange;
}

td[state='failure'] {
  color: red;
}

tr.subrow {
  font-size: 14px;
}

tr.subrow td:first-of-type {
  text-align: right;
}

.flex {
  flex: 1;
}

#local-device-id {
  font-family: monospace;
}

.remote-device {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.remote-device:hover {
  background-color: #eee;
}

.remote-device .status-name-container,
.remote-device .button-container {
  align-items: center;
  display: flex;
}

.device-connection-status {
  font-size: 24px;
  margin-right: 10px;
}

.device-connection-status[state='connecting'] {
  color: orange;
}

.device-connection-status[state='connected'] {
  color: green;
}

.remote-device table {
  font-size: 12px;
  margin-left: 22px;
}

.remote-device td:last-of-type {
  font-family: monospace;
}

.remote-device .button-container {
  margin: 2px 22px;
}

.remote-device button {
  margin: 0px 2px;
}

#eligible-devices-list[device-count='0'],
#ineligible-devices-list[device-count='0'] {
  display: none;
}
