<!DOCTYPE html>
{% autoescape on %}
<html>
  <head>
    <title>I-Spy Test Runs</title>
    <style>
      #container {
        display: table;
        background-color:#DDD;
        border: 1px solid #AAA;
        width: 400px;
        margin: 5px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h3>Test Runs</h3>
    <form method="get">
      <label for "prefix">Search Failures by Prefix:</label>
      <input type="text" name="marker" id="prefix">
      <input type="submit" value="submit">
    </form>
    <a href="{{ next_url }}">Next</a>
    <div id="container">
      {% for link in links %}
        <div>
          <a href="{{ link[1] }}">{{ link[0] }}</a>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
{% endautoescape %}
