// Copyright 2014 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.content_public.common;

public class ScreenOrientationValues {
#define DEFINE_SCREEN_ORIENTATION_VALUE(name, value) public static final int name = value;
#include "content/public/common/screen_orientation_values_list.h"
#undef DEFINE_SCREEN_ORIENTATION_VALUE
}
