/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#sync-events-table,
#sync-events-table th,
#sync-events-table td {
  border: 1px black solid;
}

#sync-events-table {
  table-layout: fixed;
  width: 100%;
}

#sync-events > tr {
  vertical-align: top;
}

.expanded .attrib-column {
  display: none;
}
