/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#type-counters-table {
  table-layout: fixed;
}

#type-counters-table th {
  max-width: 80px;
  width: 80px;
}

#type-counters-table th.type {
  max-width: 200px;
  width: 200px;
}

#type-counters-table tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

