/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

table.styled-table {
  border-collapse: collapse;
}

table.styled-table,
.styled-table th,
.styled-table td {
  border: 1px solid #777;
  padding-left: 4px;
  padding-right: 4px;
}

.styled-table th {
  text-align: left;
}

.page-section {
  border: 1px solid #777;
  padding: 4px;
}

.action-success {
  color: green;
}

.action-failure {
  color: red;
}
