/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.usb-permission-page .throbber-placeholder {
  height: 16px;
  margin: 4px;
  width: 16px;
}

.usb-permission-message {
  margin: 0;
  padding-bottom: 35px;
}

.usb-permission-prompt {
  padding: 35px 20px;
  width: 360px;
}

.usb-permission-extension-desc {
  display: flex;
}

.usb-permission-extension-icon {
  background-position: center;
  background-repeat: none;
  height: 24px;
  width: 24px;
}

.usb-permission-extension-name {
  flex: 1;
  line-height: 24px;
  overflow-wrap: break-word;
}

.usb-permission-page > .action-area {
  margin: 0 3px 10px;
}
