/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.cast-menu {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  min-width: 120px;
  outline: none;
  overflow: hidden;
  padding: 0 0 7px;
  position: absolute;
  z-index: 1000;
}

.cast-menu:before {
  -webkit-padding-start: 12px;
  border-bottom: solid 1px rgb(217, 217, 217);
  color: rgb(77, 77, 77);
  content: attr(playon-text);
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 7px;
  padding-bottom: 9px;
  padding-top: 9px;
}

/* Make the width of the horizontal border one device pixel even on HiDPI.
 * crbug.com/417113. */
@media (-webkit-min-device-pixel-ratio: 2) {
  .cast-menu:before {
    border-bottom: none;
    background-image: linear-gradient(rgba(217, 217, 217, 1),
                                      rgba(217, 217, 217, 1),
                                      rgba(217, 217, 217, 0),
                                      rgba(217, 217, 217, 0));
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}

.cast-menu.hidden {
  display: none;
}

.cast-menu > :not(hr) {
  -webkit-padding-end: 10px;
  -webkit-padding-start: 36px;
  color: rgb(51, 51, 51);
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
}

.cast-menu > :not(hr):hover {
  background-color: rgb(235, 235, 235);
}

.cast-menu > [checked]:not(hr) {
  background-image: -webkit-image-set(
      url(../images/media/media_check.png) 1x,
      url(../images/media/2x/media_check.png) 2x);
  background-position: left 10px center;
  background-repeat: no-repeat;
}

html[dir='rtl'] .cast-menu > [checked]:not(hr) {
  background-position: right 10px center;
}

.cast-menu > [checked]:before {
  display: none;
}
