body {
  direction: __MSG_@@bidi_dir__;
  font-family: 'Roboto';
  margin: 0;
}
html {
  overflow-y: scroll;
}

#content {
  margin: 0 20px 0px 20px;
  width: 960px;
  z-index: 1;
}

@media (min-width: 1024px) {
  #content {
    margin: auto;
  }
}

#main {
  position:relative;
}

#material_card {
  height: 500px;
  width: 100%;
  z-index: -1;
  background-color: #3367D6;
  position:absolute;
}

#graph_card {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 8px 20px 24px 20px;
}

#ext_name {
  font-size: 18px;
  color: #FFF;
  padding-__MSG_@@bidi_start_edge__: 36px;
  background: url('images/logo.png') no-repeat __MSG_@@bidi_start_edge__;
  background-size: 20px;
  height: 20px;
  float: __MSG_@@bidi_start_edge__;
  margin: 30px 0 30px 0;
}

#proxy_control_container {
  font: 16px Roboto;
  margin: 30px 0 30px 0;
}
#proxy_control_label {
  margin-__MSG_@@bidi_end_edge__: 16px;
}

input[type="checkbox"]#proxy_control:checked + label span#proxy_control_ui {
  background: url('images/details-checkbox-on.png') no-repeat right top;
  background-size: 20px;
}
input[type="checkbox"]#proxy_control + label span#proxy_control_ui {
  background: url('images/details-checkbox-off.png') no-repeat right top;
  background-size: 20px;
}

#stats_panel {
  position: relative;
}

#data_stats_container {
  float: __MSG_@@bidi_start_edge__;
  margin: 24px 0 24px 0;
  line-height: 22px;
}

#reset_data_container {
  __MSG_@@bidi_end_edge__: 0;
  padding: 0 12px 0 12px;
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px; /* line-height/2 */
}
#reset_data {
  font-size: 13px;
  font-family: Roboto-Medium;
  color: #4285F4;
  display: inline-block;
  outline: 0;
  text-decoration: initial;
}

#data_usage {
  font-size: 14px;
  color:  #4285F4;
}

#data_savings {
  font-size: 14px;
  color: #9E9E9E;
}

#data_usage_breakdown_title {
  font-size: 16px;
  color: #333;
  padding: 20px 0;
}

/* Tabs to select time */
.ui-tabs  .ui-tabs-nav {
  padding: 0;
  margin: 0;
}
#divider_line {
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  top: 50px;
  left: 0;
  width: 100%;
  height: 0px;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: __MSG_@@bidi_start_edge__;
  position: relative;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: __MSG_@@bidi_start_edge__;
  text-decoration: none;
  color: #969696;
  font-size: 13px;
  outline: none;
  text-align: center;
  width: 98px;
  line-height: 40px;
  font-family: Roboto-Medium;
}
.ui-tabs .ui-tabs-active .ui-tabs-anchor {
  border-bottom: #FBC02D 2px solid;
}
/* End time selector tabs. */

#sites_table {
  border-collapse: collapse;
  margin-bottom: 40px;
  text-align: __MSG_@@bidi_start_edge__;
  width: 100%;
}

#sites_table tr th {
  color: #969696;
  font-size: 12px;
  font-family: Roboto-Medium;
}

#sites_table .tablesorter-headerDesc, #sites_table .tablesorter-headerAsc {
  color: #333;
}

#sites_table tr {
  line-height: 40px;
  font-size: 13px;
  color: #646464;
}

#sites_table td, #sites_table th {
  border-bottom: 1px solid #EBEBEB;
  text-align: __MSG_@@bidi_end_edge__;
}

#site_column_heading .tablesorter-header-inner {
  text-align: __MSG_@@bidi_start_edge__;
  width: 100%;
}

#sites_table th {
  cursor: pointer;
}

.favicon {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
}
.favicon_container, .hostname {
  float: __MSG_@@bidi_start_edge__;
}
.favicon_container {
  margin-__MSG_@@bidi_end_edge__: 16px;
}

.tablesorter-header-inner {
  display: inline-block;
  padding-__MSG_@@bidi_start_edge__: 32px;
  font-weight: normal;
}
.tablesorter-headerAsc .tablesorter-header-inner {
  background: url('images/sorted_asc.png') no-repeat;
  background-size: 16px;
  background-position: __MSG_@@bidi_start_edge__ center;
}
.tablesorter-headerDesc .tablesorter-header-inner {
  background: url('images/sorted_desc.png') no-repeat;
  background-size: 16px;
  background-position: __MSG_@@bidi_start_edge__ center;
}

#info {
  height: 16px;
  vertical-align: text-bottom;
  margin-__MSG_@@bidi_start_edge__: 8px;
}

.ui-tooltip {
  font-style: italic;
  background: rgba(0, 0, 0, 0.68);
  font-size: 13px;
  color: #F2F2F2;
  padding: 16px 20px;
  border-radius: 2px;
  display: inline-block;
}

.ui-dialog {
  background: #FFF;
  z-index:101;
  font-family: Roboto;
  font-size: 13px;
  color: #333;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.ui-dialog-titlebar {
  padding: 24px 20px 20px 20px;
  border-bottom: 1px solid #CCC;
  font-size: 16px;
}
.ui-dialog-content {
  padding: 20px 20px 0 20px;
}
.ui-dialog-buttonpane {
  text-align: __MSG_@@bidi_end_edge__;
}
.ui-dialog-buttonset {
  text-align: __MSG_@@bidi_end_edge__;
  padding: 0 20px 20px 0;
  display: inline-block;
}
.ui-dialog .ui-button {
  font-family: Roboto-Medium;
  font-size: 13px;
  height: 32px;
  padding: 0 12px 0 12px;
  color: #333;
  background: #FFF;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}
.ui-dialog .delete_button {
  margin-__MSG_@@bidi_end_edge__: 8px;
  background: #4285F4;
  color: #FFF;
}
.ui-dialog .ui-dialog-titlebar-close {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  height: 18px;
  width: 18px;
  __MSG_@@bidi_end_edge__: 20px;
  background: url('images/cancel.png') no-repeat 50%;
  background-size: 18px;
}
.ui-widget-overlay {
  background: #000;
  opacity: 0.35;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:100;
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ui-dialog #delete_dialog_message {
  line-height: 21px;
}
body.mac .ui-dialog .delete_button {
  margin-__MSG_@@bidi_end_edge__: 0px;
  margin-__MSG_@@bidi_start_edge__: 8px;
  float: __MSG_@@bidi_end_edge__;
}

.hidden {
  display:none;
}
