body {
  margin: 20px 20px 8px 20px;
  width: 278px;
  direction: __MSG_@@bidi_dir__;
}

#ext_name {
  font-size: 16px;
  font-family: Roboto-Medium;
  color: #333;
}

#main {
  margin-top: 24px;
}

#divider_line {
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  bottom: 48px;
  left: 0;
  width: 100%;
  height: 0px;
}

#divider_line_overflow {
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  bottom: 96px;
  left: 0;
  width: 100%;
  height: 0px;
  display: none;
}

#data_usage_label, #data_usage_value {
  font-size: 14px;
  font-family: Roboto-Medium;
  color: #4285F4;
  margin-bottom: 6px;
  width: 131px;
  line-height: 18px;
}
#data_savings_label, #data_savings_value {
  font-size: 14px;
  font-family: Roboto-Medium;
  color: #646464;
  width: 131px;
  line-height: 18px;
}

#links_panel {
  height: 32px;
  text-align: __MSG_@@bidi_end_edge__;
  margin-__MSG_@@bidi_end_edge__: -12px;
  margin-top: 24px;
}
#learn_more, #detailed_usage_link {
  display: inline-block;
  line-height: 32px;
  outline:none;
  padding: 0 8px;
  outline: none;
  font-family: Roboto-Medium;
  font-size: 13px;
  color: #646464;
  cursor: pointer;
  text-decoration: none;
}
.learn_more_container {
  margin-right: 8px;
}

#loading {
  position: absolute;
  top: 100px;
  left: 125px;
}

input[type="checkbox"]#proxy_control:checked + label span#proxy_control_ui {
  background: url('images/checkbox-on.png') no-repeat right top;
  background-size: 16px;
}
input[type="checkbox"]#proxy_control + label span#proxy_control_ui {
  background: url('images/checkbox-off.png') no-repeat right top;
  background-size: 16px;
}
