body {
  margin: 20px 20px 8px 20px;
  width: 1024px;
  direction: left;
}

.ui-tabs  .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  text-decoration: none;
  color: #969696;
  font-size: 14pt;
  outline: none;
  text-align: center;
  width: 98pt;
  border-bottom: rgba(0,0,0, 0.14) 1px solid;
}

.ui-tabs .ui-tabs-active .ui-tabs-anchor {
  border-bottom: #FBC02D 2px solid;
}

.favicon {
  height: 16px;
  width: 16px;
  background: 100% center;
  display: inline-block;
}

.default_favicon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: #EEE;
}

#proxy_control_ui {
  vertical-align: middle;
}

input[type="checkbox"]#proxy_control {
  display: none;
}

input[type="checkbox"]#proxy_control:checked + label span#proxy_control_ui {
  background: url('images/checkbox-on.png') no-repeat;
  background-size: 100%;
}

input[type="checkbox"]#proxy_control + label span#proxy_control_ui {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('images/checkbox-off.png') no-repeat;
  background-size: 100%;
  margin-right: 5px;
}

.ink {
  display: block; position: absolute;
  background: #D7E0E0;
  border-radius: 100%;
  transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.4s linear;}
@keyframes ripple {
  100% {opacity: 0; transform: scale(1);}
}

