/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html,
body,
#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:Arial;
}

tabbox {
  padding-top: 10px;
}

tab {
  -webkit-user-select: none;
}

body tabpanels {
  box-shadow: none;
}

tabpanel {
  padding: 10px;
}

table {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  width: auto;
  overflow: auto;
  display: block;
}
th {
  background-color: #4AA9E4;
  font-weight: normal;
  color: white;
  padding: 2px;
  text-align: center;
  min-width: 230px;
}
td {
  background-color: rgb(238, 238, 238);
  padding: 2px;
  color: rgb(111, 111, 111);
  word-wrap: break-word;
  min-width: 230px;
}

h1,
h2,
h3 {
  color: rgb(50,50,50);
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

#container > * {
  padding: 0;
  padding-left: 25px;
  margin: 0;
}

#list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

#player-list-wrapper,
#audio-component-list-wrapper {
  flex-grow: 1;
  align-self: stretch;
  min-width: 200px;
  overflow: auto;
}

#player-list-wrapper ul,
#player-list-wrapper li,
#audio-component-list-wrapper ul,
#audio-component-list-wrapper li {
  padding: 0px;
  list-style-type: none;
}
#list-wrapper button {
  padding: 0px;
}

.property-wrapper,
#log-wrapper {
  align-self: stretch;
  display:block;
  flex-grow: 0.25;
  overflow: auto;
  margin-bottom: 10px;
}

#video-capture-capabilities-wrapper {
  flex-grow: 0.5;
  align-self: stretch;
  overflow: auto;
}

#log-wrapper > thead {
  position: fixed;
}

#graphs li {
  list-style-type: none;
}

#clipboard-dialog {
  top: 0;
  bottom: 0;
  padding-top: 0;
}

::backdrop {
  background-color: #000;
  opacity: 0.5;
}

.timestamp {
  min-width: 115px;
}

#video-capture-capabilities-table {
  margin-bottom:30px;
}

#video-capture-capabilities-table th,
#video-capture-capabilities-table td {
  min-width:120px;
}

#video-capture-capabilities-table td {
  padding:5px;
}

#video-capture-capabilities-table tr td {
  font-size:13px;
  text-align:center;
}

#video-capture-capabilities-table .video-capture-formats-table th,
#video-capture-capabilities-table .video-capture-formats-table td {
  text-align:right;
  min-width:80px;
}

#video-capture-capabilities-table .video-capture-formats-table th {
  background:none;
  color:#666;
  font-size:13px;
  font-weight:bold;
}

#video-capture-capabilities-table .video-capture-formats-table td {
  padding:2px;
}

.show-none-if-empty:empty:after {
  content: "none";
  color: rgba(0, 0, 0, .5);
}

label.selectable-button {
  -webkit-user-select: none;
  display: inline-block;
  background: #BDF;
  cursor: pointer;
  border: solid 1px #999;
  border-radius: 3px;
  padding: 6px;
  margin: 4px 0;
  line-height: 1.4;
  word-break: break-all;
}

input.selectable-button {
  display: none;
}

input.selectable-button:checked + label.selectable-button {
  background-color: #2196F3;
  border-color: #666;
  color: #FFF;
}

input.selectable-button:hover + label.selectable-button {
  border-color: #666;
}

label.destructed-player {
  background-color: #EEE;
}

.player-name {
  font-weight: bold;
}

.player-frame {
  font-style: italic;
}

.no-players-selected #players .property-wrapper,
.no-players-selected #players #log-wrapper {
  display: none;
}

.no-components-selected #audio .property-wrapper {
  display: none;
}

