/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  -webkit-app-region: drag;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 0;
}

#passphrase-dialog {
  height: 100%;
}
