/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

input,
paper-button {
  -webkit-app-region: no-drag;
}

:host {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#input {
  font-family: inherit;
  font-size: 13px;
  font-weight: inherit;
  line-height: inherit;
}

#title {
  color: black;
  font-size: 14px;
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#buttons paper-button {
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 0 5px;
  min-height: 32px;
  min-width: 70px;
  overflow: hidden;
  padding: 0.7em 0.57em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

#buttons paper-button:focus:not(:active) {
  box-shadow: 0 0 0 2px rgba(51, 103, 214, 0.5);
}

paper-input-container {
  --paper-input-container-focus-color: rgb(51, 103, 214);
  --paper-input-container-underline-focus: {
    height: 1px;
  }
}

#acceptButton {
  background: rgb(51, 103, 214);
  color: white;
}

#cancelButton {
  color: rgb(100, 100, 100);
}


