/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#main-table {
  border-collapse: collapse;
  border-width: 0;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 1000px;
}

tr.section-row {
  border-bottom-width: 2px;
  border-color: #000;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-top-width: 2px;
  width: 100%;
}

td.title-cell {
  border-width: 0;
  text-align: right;
  vertical-align: top;
  width: 15%;
}

p.title-text {
  font-weight: bold;
  margin-right: 10px;
}

td.show-button-cell {
  border-bottom-width: 0;
  border-color: #aaa;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 0;
  text-align: center;
  vertical-align: top;
  width: 10%;
}

td.plots-cell {
  border-width: 0;
  padding: 10px;
  text-align: left;
  width: 75%;
}

div.section-div {
  width: 100%;
}

div.plots-div {
  width: 100%;
}

button.show-button {
  margin: 10px;
}

button.reload-button {
  margin-bottom: 10px;
  margin-top: 10px;
}
