/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  overflow: hidden;  /* Hide scrollbars for accurate size calculation. */
  padding: 8px 20px;
}

h2 {
  margin-bottom: 20px;
}

.button-strip {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.row {
  align-items: center;
  display: flex;
  margin: 0.65em 0;
}

input[type='date'],
input[type='time'] {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

input[type='date']::-webkit-clear-button,
input[type='time']::-webkit-clear-button {
  display: none;
}

label {
  -webkit-margin-end: 5px;
}

#timezone-select {
  flex: 1;
}
