/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  background-color: #E6E6E6;
  font-size: 12pt;
  margin: 50px 40px 20px 40px;
  text-align: center;
}

#container {
  background-color: #fbfbfb;
  border: 1px solid #AAA;
  border-bottom: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 2px 2px #AAA;
  color: #666;
  margin: auto;
  max-width: 540px;
  min-height: 29px;
  min-width: 200px;
  padding: 20px 60px;
  text-align: start;
}

#container-inner {
  background-color: #fbfbfb;
  margin-top: 25px;
  text-align: center;
}

button {
  background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08),
    inset 0 1px 2px rgba(255, 255, 255, 0.75);
  margin-top: 10px;
  min-height: 29px;
  min-width: 65px;
  padding: 8px 13px;
  text-shadow: 0 1px 0 rgb(240, 240, 240);
  user-select: none;
}
