/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.bubble .arrow {
  border: solid transparent;
  border-width: 6px;
  content: ' ';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.bubble .arrow.points-up {
  border-bottom-color: white;
  bottom: 100%;
}

.bubble .arrow.points-right {
  border-left-color: white;
  left: 100%;
}

.bubble .arrow.points-down {
  border-top-color: white;
  top: 100%;
}

.bubble .arrow.points-left {
  border-right-color: white;
  right: 100%;
}

.bubble .arrow.top {
  top: 12px;
}

.bubble .arrow.right {
  right: 12px;
}

.bubble .arrow.bottom {
  bottom: 12px;
}

.bubble .arrow.left {
  left: 12px;
}
