/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

[hidden] {
  display: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.transparent {
  opacity: 0;
}

.show-animated,
.hide-animated {
  transition-property: opacity;
}

.show-animated {
  transition-function: ease-in;
}

.hide-animated {
  transition-function: ease-out;
}

#background-container {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#background {
  height: 100%;
  position: absolute;
  width: 100%;
}

#background .fill {
  fill: rgba(0, 0, 0, 0.5);
}

#steps {
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#help #completion-image {
  background-image: url(chrome://theme/IDR_FIRST_RUN_COMPLETION);
  display: inline-block;
  height: 153px;
  width: 400px;
}
