/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.step {
  background: white;
  color: #8c8c8c;
  padding: 0;
}

.step h1 {
  color: #333;
  font-weight: normal;
}

.step p {
  line-height: 1.5;
}

.step button.blue-button {
  color: white;
}

.step button.white-button {
  color: black;
}

.step .controls button {
  margin: 0 3px;
}

.step .controls button:first-of-type {
  -webkit-margin-start: 0;
}

.step .controls button:last-of-type {
  -webkit-margin-end: 0;
}
