/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.step.bubble {
  border: 1px solid;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: inline-block;
  position: absolute;
  width: 400px;
}

.step.bubble h1 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.step.bubble p {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.step.bubble p + p {
  margin-top: 30px;
}

.step.bubble .controls {
  margin-bottom: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 18px;
  text-align: end;
}

.step.bubble .controls button {
  font-size: 12px;
  min-width: 0;
  padding: 0 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.step.bubble.hidden {
  visibility: hidden;
}
