<!doctype html>
<html class="full-height">
  <head>
    <meta charset="utf-8">
    <title>Credits</title>
    <!-- The CSS and JS files are named this way so they can be used as
         Android resources, which requires the filenames without the
         extensions to be distinct. -->
    <link rel="stylesheet" href="credits_css.css">
    <script src="credits_js.js"></script>
  </head>
  <body class="full-height">
    <div class="entries">
      <div class="page-title">Credits</div>
      {{entries}}
    </div>
  </body>
</html>
