html {
  overflow:auto;
}
body, td {
  overflow:auto;
  margin:0px;
  font-family:arial;
  font-size:84%;
}
.header {
  background-color:#d8dfea;
  padding:10px 10px 10px 8px;
}
.icontext {
  text-align:center;
  font-family:tahoma;
  font-size:11px;
  padding:1px 0px 0px 2px;
}
.title {
  font-size:115%;
  font-weight:bold;
}
.desc {
  display:block;
  padding-top:5px;
}
.main {
  margin:17px 13px 0px 14px;
}
.eula {
  margin:5px 10px 0px 5px;
}
iframe {
  border:1px solid #999999;
}
.footer {
  position:absolute;
  bottom:0px;
  padding:5px 5px 5px 5px;
}
form {
  margin:0px;
  padding:0px;
}
.labelcell {
  padding-top:2px;
}
.buttons {
  margin:8px 5px 0px 5px;
  text-align:right;
}