/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */


html {
  height: 100%;
}

body {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}

[hidden] {
  display: none !important;
}

.title-bar {
  -webkit-align-items: center;
  -webkit-app-region: drag;
  background-color: #fff;
  box-shadow: 0 1px #d0d0d0;
  color: rgb(80, 80, 82);
  display: -webkit-flex;
  font-size: 15px;
  min-height: 48px;
}

.title-bar #page-title {
  -webkit-flex: 1 1 auto;
  -webkit-margin-start: 20px;
}

.title-bar .button-bar {
  -webkit-flex: 0 1 auto;
}

.content {
  color: #646464;
  flex-grow: 1;
  font-size: 12px;
  margin: 20px;
}

.content #description-text {
  border-color: #c8c8c8;
  box-sizing: border-box;
  height: 120px;
  line-height: 18px;
  padding: 10px;
  resize: none;
  width: 100%;
}

.content #additional-info-label {
  -webkit-margin-start: 10px;
}

.content .text-field-container {
  -webkit-align-items: center;
  -webkit-padding-start: 10px;
  display: -webkit-flex;
  height: 29px;
  margin-top: 10px;
}

.content .text-field-container > label {
  -webkit-flex: 0 1 auto;
  width: 100px;
}

.content .text-field-container > select {
  -webkit-padding-start: 5px;
  border: 1px solid #c8c8c8;
  color: #585858;
  flex: 1 1 auto;
  height: 100%;
}

.content .text-field-container > input[type=text] {
  -webkit-flex: 1 1 auto;
  -webkit-padding-start: 5px;
  border: 1px solid;
  border-color: #c8c8c8;
  color: #585858;
  height: 100%;
}

.content .text-field-container > input[type=checkbox] {
  margin-right: 9px;
}

.content .checkbox-field-container {
  -webkit-align-items: center;
  display: -webkit-flex;
  height: 29px;
}

#screenshot-container {
  margin-top: 10px;
}

.content #screenshot-image {
  -webkit-margin-end: 25px;
  display: block;
  height: 60px;
  margin-top: 40px;
  transition: all 250ms ease;
}

.content #screenshot-image:hover {
  -webkit-margin-end: 0;
  height: 125px;
  margin-top: 80px;
  z-index: 1;
}

.content #screenshot-image.wide-screen {
  height: auto;
  width: 100px;
}

.content #screenshot-image.wide-screen:hover {
  height: auto;
  width: 200px;
}

.content #screenshot-label {
  flex: auto;
}

.content #privacy-note {
  color: #969696;
  font-size: 10px;
  line-height: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content .buttons-pane {
  bottom: 20px;
  display: -webkit-flex;
  justify-content: flex-end;
  left: 20px;
  position: absolute;
  right: 20px;
}

.content .top-buttons {
  position: absolute;
}

.content .remove-file-button {
  -webkit-margin-start: 5px;
  background-color: transparent;
  background-image: -webkit-image-set(
      url(chrome://resources/images/apps/button_butter_bar_close.png) 1x,
      url(chrome://resources/images/2x/apps/button_butter_bar_close.png) 2x);
  background-position: 50% 80%;
  background-repeat: no-repeat;
  border: none;
  height: 16px;
  pointer-events: auto;
  width: 16px;
}

.content .remove-file-button:hover {
  background-image: -webkit-image-set(
      url(chrome://resources/images/apps/button_butter_bar_close_hover.png) 1x,
      url(chrome://resources/images/2x/apps/button_butter_bar_close_hover.png) 2x);
}

.content .remove-file-button:active {
  background-image: -webkit-image-set(
      url(chrome://resources/images/apps/button_butter_bar_close_pressed.png) 1x,
      url(chrome://resources/images/2x/apps/button_butter_bar_close_pressed.png) 2x);
}

.content #attach-file-note {
  -webkit-margin-start: 112px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content .attach-file-notification {
  color: rgb(204, 0, 0);
  font-weight: bold;
}

button.white-button {
  -webkit-margin-end: 10px;
  color: #000;
}

button.blue-button {
  color: #fff;
  text-shadow: 1px sharp drop shadow rgb(45, 106, 218);
}

.srt-image {
  -webkit-margin-end: auto;
  -webkit-margin-start: 40px;
  display: block;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.srt-body {
  font-size: 14px;
  line-height: 24px;
  margin: 0 40px;
}
