h1 {color: white; background-color: black;}
h2 {color: white; background-color: black;}
h3 {color: white; background-color: black;}
h4 {color: white; background-color: black;}
h5 {color: white; background-color: black;}
h6 {color: white; background-color: black;}
