// Copyright 2017 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include <string>
#include <vector>

namespace {
const uint32_t kDistrictPositions[] = {
  {% set c = 1 %}
  {% for cell_id in cell_ids -%}
    {{cell_id}}u{% if c < cell_ids|length%},{% endif %}
    {% set c = c + 1%}
  {%- endfor %}
};

const uint16_t kLanguageCodeCounts[] = {
  {% set c = 1 %}
  {% for language_count in language_counts -%}
    {{language_count}}u{% if c < language_counts|length%},{% endif %}
    {% set c = c + 1%}
  {%- endfor %}
};

const char* const kLanguageEnumCodeMapping[] = {
  {% set c = 1 %}
  {% for language_code in language_codes -%}
    "{{language_code}}"{% if c < language_codes|length%},{% endif %}
    {% set c = c + 1%}
  {%- endfor %}
};

}  // namespace
