/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.active-sink {
  color: var(--paper-blue-700);
}

.cast-mode-icon,
.sink-icon {
  -webkit-padding-end: 12px;
  -webkit-padding-start: var(--dialog-padding-start);
  height: var(--non-navigation-icon-size);
  width: var(--non-navigation-icon-size);
}

#cast-mode-list {
  padding-bottom: 12px;
  padding-top: 4px;
}

#container-header {
  position: fixed;
  width: 100%;
}

#content {
  position: relative;
}

#device-missing {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

#device-missing a {
  color: var(--paper-blue-700);
  margin: 8px 0;
  text-align: center;
  text-decoration: none;
}

#first-run-button {
  background-color: white;
}

#first-run-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#first-run-cloud-checkbox,
#first-run-flow-cloud-pref,
#first-run-text {
  font-size: 1.0em;
  line-height: 1.5em;
}

#first-run-cloud-checkbox,
#first-run-text,
#first-run-title {
  color: white;
  padding-bottom: 24px;
}

#first-run-cloud-checkbox::shadow #checkboxLabel {
  -webkit-padding-start: var(-dialog-padding-start);
}

#first-run-flow {
  background-color: var(--paper-blue-700);
  box-sizing: border-box;
  padding: 24px 16px 4px 16px;
  position: fixed;
  width: 100%;
}

#first-run-flow a {
  color: white;
  text-decoration: none;
}

#first-run-flow-cloud-pref {
  color: white;
  display: flex;
}

.first-run-learn-more {
  font-weight: bold;
  text-transform: uppercase;
}

#first-run-title {
  font-size: 1.25em;
}

#issue-banner {
  width: 100%;
}

#issue-banner.non-blocking {
  bottom: 0;
  display: block;
  margin-top: 0;
}

#no-search-matches {
  color: rgb(112, 112, 112);
  display: block;
  font-size: 1.2 em;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

cr-checkbox {
  --cr-checkbox-checked-box-color: white;
  --cr-checkbox-mark-color: var(--paper-blue-700);
  --cr-checkbox-ripple-checked-color: white;
  --cr-checkbox-ripple-unchecked-color: white;
  --cr-checkbox-unchecked-box-color: white;
  --cr-checkbox-ripple-opacity: 0.25;
}

paper-item {
  cursor: pointer;
  font-size: 1.0em;
  line-height: 0;
  min-height: 0;
  padding: 12px 0;
}

paper-item:hover {
  background-color: rgb(238, 238, 238);
  border: 0;
}

paper-listbox {
  color: rgba(0, 0, 0, 0.87);
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 0;
  padding-top: 4px;
  user-select: none;
}

#search-input-container {
  flex-grow: 1;
}

#search-results {
  overflow-x: hidden;
  overflow-y: auto;
}

#search-results-container {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 100%;
}

#searching-devices-spinner {
  height: 30px;
  width: 30px;
}

.subheading-text {
  -webkit-padding-start: var(--dialog-padding-start);
  color: var(--paper-grey-600);
  cursor: default;
  font-weight: normal;
  padding-bottom: 4px;
  padding-top: 12px;
}

#share-screen-text::after {
  background-color: white;
  font-weight: normal;
}

.sink-content {
  display: flex;
  flex-direction: row;
  font-weight: normal;
}

.sink-domain {
  -webkit-padding-start: 6px;
  color: var(--paper-grey-600);
  /* TODO(crbug/589697): Handle overflow of very long domain names. */
}

#sink-list {
  overflow-x: hidden;
  overflow-y: auto;
}

#sink-list-view {
  margin-bottom: 12px;
  position: relative;
}

.sink-name {
  min-width: 10%;
}

#sink-search {
  padding-bottom: 0;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}

/* Separate icon class is a consequence of box-sizing: border-box set by
 * paper-icon-button. This should achieve the same dimensions as .sink-icon. */
#sink-search-icon {
  -webkit-margin-start: 4px;
  -webkit-padding-end: 12px;
  -webkit-padding-start: 12px;
}

#sink-search-input {
  --paper-input-container: {
    margin: 8px 0;
    padding: 0;
  };
  --paper-input-container-focus-color: rgb(33, 150, 243);
  --paper-input-container-input: {
    font-size: 12px;
  };
  --paper-input-container-label: {
    font-size: 12px;
  };
  -webkit-margin-end: 31px;
  box-sizing: border-box;
}

.sink-subtext {
  color: var(--paper-grey-600);
  padding-top: 8px;
}

.sink-text {
  flex-flow: row nowrap;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 275px;
}
