/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

[is='action-link'] {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

[is='action-link']:hover {
  text-decoration: underline;
}

[is='action-link']:active {
  color: rgb(5, 37, 119);
  text-decoration: underline;
}

[is='action-link'][disabled] {
  color: #999;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

[is='action-link'].no-outline {
  outline: none;
}
