/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.search-box {
  position: relative;
  user-select: none;
}

.search-box-icon {
  display: inline-block;
  height: 1em;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 6px;
  user-select: none;
  width: 1em;
}

.search-box-input {
  text-indent: 2em;
  width: 100%;
}
