/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 0;
  padding: 0;
}

.step.dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  width: 720px;
}

.step.dialog h1 {
  font-size: 30px;
  margin-bottom: 16px;
  margin-top: 0;
}

.step.dialog p {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.step.dialog .controls {
  margin-bottom: 0;
  margin-top: 40px;
}

.step.dialog .controls button {
  font-size: 12px;
  min-width: 0;
  padding: 0 35px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.step.dialog .window-header {
  -webkit-app-region: drag;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.step.dialog .topbutton-bar {
  display: block;
  margin-top: 10px;
}

.step.dialog .topbutton-wrapper {
  -webkit-padding-end: 10px;
  display: flex;
  justify-content: flex-end;
}

.step.dialog .topbutton-bar button {
  -webkit-app-region: no-drag;
  -webkit-margin-end: 0;
  display: inline;
}

.step.dialog .greeting-image {
  margin-bottom: 49px;
  margin-top: 64px;
}
