/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/******************************************************************************
 * Terminal
 ******************************************************************************/

#terminal {
  display: block;
  position: absolute;
  margin: 0;
  padding: 3px;
  width: calc(100% - 6px);
  height: calc(25% - 6px);
  overflow-x: hidden;
  overflow-y: auto;
  top: -25%;
  left: 0;
  z-index: 20;

  background: #000000;

  font-size: 12px;
  font-family: 'DejaVu Sans Mono', 'Everson Mono', FreeMono, Menlo, Terminal,
      monospace;
  color: #FFFFFF;

  -webkit-user-select: text;
  user-select: text;

  /* Animation for toggling the terminal. */
  transition: top 0.2s ease-in-out;
}

body.terminal_visible #terminal {
  top: 0;
}

.terminal_message_output {
  /* Use default style. */
}

.terminal_message_info {
  color: #06989A;
}

.terminal_message_error {
  color: #FF0000;
}

#terminal_button {
  display: block;
  position: absolute;
  padding: 5px 10px 10px 10px;
  border-radius: 0 0 10px 10px;
  width: 15px;
  top: 0;
  right: 50px;
  z-index: 30;

  background: #333333;
  opacity: 0.5;

  text-align: center;
  font-size: 12px;
  font-family: 'DejaVu Sans Mono', 'Everson Mono', FreeMono, Menlo, Terminal,
      monospace;
  font-weight: bold;
  color: #AAAAAA;
}

#terminal_button:hover {
  background: #555555;
  color: #FFFFFF;
  opacity: 0.7;
}

#terminal_button:active {
  background: #777777;
  color: #FFFFFF;
  opacity: 0.7;
}

/******************************************************************************
 * Contents
 ******************************************************************************/

#contents {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  /* Animation for toggling the terminal. */
  transition: height 0.2s ease-in-out, top 0.2s ease-in-out;
}

body.terminal_visible #contents {
  top: 25%;
  height: 75%;
}

#inspector_view {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  visibility: none;
}

body.inspector_view_visible #inspector_view {
  visibility: visible;
}

#load_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 10;
  background: #DDDDDD;

  /* Fade out animation. */
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

body.inspector_view_visible #load_overlay {
  visibility: none;
  pointer-events: none;
  opacity: 0;
}

/******************************************************************************
 * Load message
 ******************************************************************************/

#load_message {
  display: block;
  position: absolute;

  /* Center the loading screen. */
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#load_message_title {
  margin-top: -12px;
  margin-bottom: 12px;
  color: #0073EA;
  font-weight: bold;
  font-size: 20px;
}

#load_dots,
#phantom_load_dots {
  display: inline-block;
  width: 3em;
  text-align: left;
}

#load_message_subtitle {
  color: gray;
  font-style: italic;
  font-size: 12px;
}

/******************************************************************************
 * Load animation
 ******************************************************************************/

#load_animation {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

#load_animation_body {
  position: absolute;
  top: 0;
  left: 0;
}

#load_animation_cog1 {
  position: absolute;
  top: 125px;
  left: 109px;

  -webkit-animation: clockwise_spin 2s linear infinite;
  animation: clockwise_spin 2s linear infinite;
}

#load_animation_cog2 {
  position: absolute;
  top: 168px;
  left: 159px;

  -webkit-animation: counterclockwise_spin 1s linear infinite;
  animation: counterclockwise_spin 1s linear infinite;
}

@-webkit-keyframes clockwise_spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes clockwise_spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes counterclockwise_spin {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes counterclockwise_spin {
  100% {
    transform: rotate(-360deg);
  }
}

