<!DOCTYPE html>
<!--
Copyright 2015 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<html>
  <head>
    <title>Memory Inspector</title>
    <script type="text/javascript" src="naclprocess.js"></script>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="main_window.js"></script>
    <link rel="stylesheet" type="text/css" href="main_window.css">
  </head>
  <body>
    <a id="terminal_button">&gt;_</a>
    <div id="terminal">
    </div>
    <div id="contents">
      <div id="load_overlay">
        <div id="load_message">
          <div id="load_animation">
            <img id="load_animation_body" src="images/body.png" alt="">
            <img id="load_animation_cog1" src="images/cog1.png" alt="">
            <img id="load_animation_cog2" src="images/cog2.png" alt="">
          </div>
          <div id="load_message_title">
            <span id="phantom_load_dots"></span>Loading<span id="load_dots"></span>
          </div>
          <div id="load_message_subtitle">
            This usually takes around 5 seconds but may take up to a minute after a fresh installation or an update
          </div>
        </div>
      </div>
      <webview id="inspector_view"></webview>
    </div>
  </body>
</html>
