/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.topbutton-bar {
  -webkit-box-align: center;
  display: -webkit-box;
}

.topbutton-bar button {
  -webkit-app-region: no-drag;
  -webkit-box-shadow: none;
  -webkit-margin-end: 10px;
  background-color: transparent;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  display: block;
  height: 32px;
  min-width: 0;
  outline: none;
  padding: 0;
  width: 32px;
}

.topbutton-bar button:active {
  -webkit-box-shadow:
    0 1px 0 0 #c2c2c2 inset,
    0 0 0 1px #dedede inset;
}

.topbutton-bar button:hover,
.topbutton-bar button:focus,
.topbutton-bar button:active {
  background-color: #ededed;
}

.topbutton-bar .maximize-button {
  background-image: -webkit-image-set(
      url(chrome://resources/images/apps/topbar_button_maximize.png) 1x,
      url(chrome://resources/images/2x/apps/topbar_button_maximize.png) 2x);
}

.topbutton-bar .minimize-button {
  background-image: -webkit-image-set(
      url(chrome://resources/images/apps/topbar_button_minimize.png) 1x,
      url(chrome://resources/images/2x/apps/topbar_button_minimize.png) 2x);
}

.topbutton-bar .close-button {
  background-image: -webkit-image-set(
      url(chrome://resources/images/apps/topbar_button_close.png) 1x,
      url(chrome://resources/images/2x/apps/topbar_button_close.png) 2x);
}
