/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

tabbox {
  min-height: 650px;
}

h3 {
  margin: 2px 0;
}

th,
td {
  font-size: 14px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  vertical-align: top;
}

thead tr {
  font-size: 14px;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background: rgb(238, 238, 255);
}

.log-time {
  white-space: nowrap;
}

.log-event.error {
  background: rgb(255, 220, 220);
}

.task-log-details label {
  cursor: pointer;
}

.task-log-collapse-check {
  vertical-align: top;
}

.task-log-collapse-check ~ ul {
  display: inline-block;
  height: 1em;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.task-log-collapse-check:checked ~ ul {
  height: auto;
}

.file-icon-cell {
  -webkit-padding-start: 0;
  display: inline-block; /* Makes the cell content start-align in RTL. */
}

.file-icon-cell > div {
  display: inline-block; /* Avoids wrapping between image and text. */
  padding-top: 1px;
  vertical-align: top;
  width: 18px;
}

<if expr="not is_macosx">
html[dir=rtl] .file-icon-cell .folder-image {
  transform: scaleX(-1);
}
</if>
