/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#tabs-mm > header {
  clear: both;
  margin-bottom: 1em;
  overflow: auto;
  padding: 1em;
}

#tabs-mm > header tr {
  height: 2em;
}

#mm-tools, #mm-stats {
  box-shadow: 0 0 1em #ccc;
  display: inline-table;
  font-size: 0.85em;
  vertical-align: top;
}

#mm-tools {
  text-align: left;
  width: 30%;
}

#mm-tools tr:first-of-type {
  background: #eee;
  text-align: center;
}

#mm-tools input[type="text"] {
  float: right;
  font-family: 'Consolas', monospace;
  font-size: 0.8em;
  height: 1em;
  margin: 0;
  padding: 0;
  width: 6em;
}

#mm-stats {
  float: right;
  width: 65%;
}

#mm-stats td {
  border: 1px solid #bbb;
  text-align: center;
}

#mm-stats th:first-of-type {
  text-align: left;
}

#mm-stats tr:first-of-type th {
  background: #eee;
}

#mm-filter-clear {
  width: 2em;
  text-align: center
}

.mm-resident-table {
  border: 1px solid #999;
}

.mm-resident-table td {
  padding: 0.2em;
}

.mm-resident-table td.resident {
  background: lightgreen;
}
