/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#nheap-table dl {
  line-height: 1em;
  -webkit-user-select: text;
}

#nheap-table dt {
}

#nheap-table dd {
  display: inline;
  float: right;
}
