/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#os-mem_chart,
#os-cpu_chart {
  width: 49%;
  max-width: 49%;
  margin: 0;
  display: inline-block;
  height: 20em;
}

#ps-tracer-dialog > div {
  clear: both;
  font-size: 0.9em;
  margin-bottom: 1em;
}

#ps-tracer-dialog > div > :last-child {
  float: right;
  width: 60%;
}

#android_provision_dialog {
  display: none;
}

#android_provision_dialog code {
  display: block;
  white-space: pre-line;
}