/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#prof-options > span {
  margin-right: 0.5em;
}

#prof-time {
  display: inline-block;
  width: 15em;
  margin: 0 1em;
}

#prof-tree_chart dt {
  display: block;
  font-weight: bold;
}

#prof-time_chart {
  min-height: 20em;
}

#prof-ruleset {
  font-size: 0.8em;
}
