/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#tabs-settings table {
  width: 100%
}

#tabs-settings table td {
  padding: 0.2em;
}

#tabs-settings table td:last-of-type {
  width: 70%;
}

#tabs-settings input[type="text"] {
  width: 100%;
  font-family: monospace;
  font-size: 0.8em;
}

#tabs-settings input[type="text"].saved {
  background: #ded;
}