/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#storage-profile-menu {
  box-shadow: 0 0.5em 1.5em #444;
  font-size: 0.8em;
  min-width: 10em;
  padding: 0;
  position: absolute;
  width: auto;
  z-index: 99;
}

#storage-profile-menu li {
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  font-weight: normal;
  margin: 0 0 1em 0;
  padding: 0 1em;
}

#storage-profile-menu li.header {
  font-weight: bold;
  background: #eee;
  padding: 0.5em 1em;
}
