/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  display: flex;
  flex-direction: column;
}

div {
  margin: 10px 0;
}

paper-button[raised].colored {
  background: rgb(66, 133, 244);
  color: white;
}

#select-div {
  display: flex;
  height: 100px;
  width: 500px;
}

.state-table {
  border-collapse: collapse;
}

.state-table tr {
  min-width: 800px;
}

.state-table tr td {
  border: 1px solid rgb(220, 220, 220);
  font-size: 13px;
}

.state-table-header {
  font-weight: bold;
}

.state-table-expand-button-cell {
  text-align: center;
}

.state-table-expand-button {
  background-color: #fff;
  border: none;
  height: 20px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 20px;
}

.state-table-expanded-cell {
  min-width: 400px;
  white-space: pre-wrap;
}

.state-table-icon-cell {
  height: 32px;
  width: 32px;
}

cr-network-select {
  flex: 1;
}
