/* Copyright 2016 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

body {
  font-family:'Arial', sans-serif;
}

.menu {
  margin-bottom: 1em;
  --padding: 14px 16px;
  border: 1px solid #e7e7e7;
}

.menu div {
  padding: var(--padding);
  font-weight:bold;
  color: #ffca00;
  background-color: #cc0000;
  cursor: default;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  float: left;
  text-align: center;
}

.menu li a {
  color: #666;
  background-color: #f3f3f3;
  text-decoration: none;
  display: block;
  padding: var(--padding);
}

.menu li a:hover {
  background-color: #ddd;
}

