/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * Incognito and guest mode NTP shared CSS. */

body {
  -webkit-font-smoothing: antialiased;
  font-size: 85%;
}

h1 {
  font-size: 200%;
  font-weight: 400;
  margin-bottom: .77em;
}

p {
  line-height: 1.5;
  margin: .588em 0;
  text-align: start;
}

a {
  color: rgb(51, 103, 214);
}

a:hover {
  text-decoration: underline;
}

/* 'Learn More' button styled like a Material Design text button.
 * TODO(edwardjung): Switch styled links to actual text buttons. */
.learn-more-button {
  color: rgb(66, 133, 244);
  display: inline-block;
  font-size: 92.8%;
  font-weight: 500;
  margin-top: 1.98em;
  padding: 10.5px 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.content {
  box-sizing: border-box;
  margin: 3.5em auto 0;
  max-width: 480px;
  min-width: 240px;
  padding: 30px 35px;
  text-align: center;
}

html[hascustombackground='true'] .content {
  border-radius: 2px;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.4);
}

.content > span {
  display: block;
}

@media (max-width:700px) {
  body {
    margin: 1em 2em 2em;
  }
}

@media (max-width:400px) {
  body {
    margin: 3em 1.5em 2em;
  }

  /* Adjustment for narrow screen to prevent horizontal scrollbar. */
  .content {
    padding: 16px 8px;
  }
}

@media (max-height:480px) and (max-width:400px) {
  .content {
    margin: auto;
  }
}
