/* Copyright 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  background-attachment: fixed;
  background-color: $i18n{colorBackground};
  background-image: url(chrome://theme/IDR_THEME_NTP_BACKGROUND?$i18n{themeId});
  background-position: $i18n{backgroundBarDetached};
  background-repeat: $i18n{backgroundTiling};
}

#attribution {
  left: $i18n{leftAlignAttribution};
  right: $i18n{rightAlignAttribution};
  text-align: $i18n{textAlignAttribution};
  display: $i18n{displayAttribution};
}

#attribution-img {
  content: url(chrome://theme/IDR_THEME_NTP_ATTRIBUTION?$i18n{themeId});
}

html[bookmarkbarattached='true'] {
  background-position: $i18n{backgroundBarAttached};
}

body {
  color: $i18n{colorTextRgba};
  height: 100%;
  overflow: auto;
}

#attribution,
[is='action-link'] {
  color: $i18n{colorTextLight};
}

[is='action-link']:active {
  color: $i18n{colorTextRgba};
}

.page-switcher {
  color: rgba($i18n{colorText}, 0.5);
}

.page-switcher:hover,
.page-switcher:focus,
.page-switcher.drag-target {
  background-color: rgba($i18n{colorText}, 0.06);
}

/* Only change the background to a gradient when a promo is showing. */
.showing-login-area #page-switcher-end:hover,
.showing-login-area #page-switcher-end:focus,
.showing-login-area #page-switcher-end.drag-target {
  background: linear-gradient(
      rgba($i18n{colorText}, 0) 0,
      rgba($i18n{colorText}, .01) 60px,
      rgba($i18n{colorText}, .06) 183px);
}

.tile-page-scrollbar {
  background-color: $i18n{colorTextLight};
}

/* Footer *********************************************************************/

#footer-border {
  background: linear-gradient(to left,
      rgba($i18n{colorSectionBorder}, 0.2),
      rgba($i18n{colorSectionBorder}, 0.3) 20%,
      rgba($i18n{colorSectionBorder}, 0.3) 80%,
      rgba($i18n{colorSectionBorder}, 0.2));
}

.dot input:focus {
  background-color: $i18n{colorBackground};
}

.filler .thumbnail {
  border-color: $i18n{colorBackground};
}
