/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
}

.header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  height: 32px;
}

div.audio-player {
  border-top: 4px solid white;
  box-sizing: border-box;
  color: #3d3d3d;
  cursor: default;
  flex: 1 1 auto;
  font-size: 10pt;
  height: 100%;
  position: relative;
}

.audio-player:not(.collapsed):not(.single-track) > .title-button {
  background-color: #1f1f1f;
}

/* Customized scrollbar for the playlist. */

::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:vertical {
  border-bottom: 0 solid transparent;
  border-left: 5px solid transparent;
  border-right: 0 solid transparent;
  border-top: 0 solid transparent;
}

::-webkit-scrollbar-track:vertical {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 5px solid transparent;
  border-right: 0 solid transparent;
}
