/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

track-info-panel {
  flex-grow: 0;
  flex-shrink: 0;
}

track-list {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

control-panel {
  height: 96px;
  flex-shrink: 0;
}
