<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<assembly xmlns="urn:schemas-microsoft-com:asm.v1" manifestVersion="1.0">
  <dependency>
  <dependentAssembly>
    <assemblyIdentity type='win32'
      name='@MAJOR@.@MINOR@.@BUILD@.@PATCH@'
      version='@MAJOR@.@MINOR@.@BUILD@.@PATCH@' language='*'/>
  </dependentAssembly>
  </dependency>
</assembly>