<assembly
  xmlns='urn:schemas-microsoft-com:asm.v1' manifestVersion='1.0'>
  <assemblyIdentity
      name='@MAJOR@.@MINOR@.@BUILD@.@PATCH@'
      version='@MAJOR@.@MINOR@.@BUILD@.@PATCH@'
      type='win32'/>
  <file name='chrome_elf.dll'/>
</assembly>
