/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

h2 {
    margin-top: 2em;
}

ul.expandable li {
    margin-bottom: 1em;
    padding: 0.5em 0;
}

ul.expandable button {
    background: rgba(0, 0, 0, 0);
    border: 0;
    color: rgb(105, 105, 105);
    display: block;
    float: none;
    margin-top: 0.5em;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
}

ul.expandable button:hover {
  box-shadow: none;
}
