/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  font-size: 80%;
}

#invalidations-info .lead {
  color: rgb(74, 142, 230);
  display: block;
  font-size: 100%;
  font-weight: bold;
  margin-top: 10px;
  word-wrap: normal;
}

#invalidations-info .section {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#objectsid-table-container .td {
  font-size: 50%;
}

#objectsid-table-container .error {
 background: rgb(255, 204, 204);
}

#objectsid-table-container .header {
 background: rgb(255, 255, 204);
}

#objectsid-table-container .content {
 background: rgb(204, 255, 204);
}

#objectsid-table-container .greyed {
 background: rgb(204, 204, 204);
}

