/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* This is a common file for pages that have a title and search box as their
 * header. This visually looks like:
 * _____________________________________________________________________________
 * |                                                                           |
 * |  I Am So Great!                                  [ Search greatness... ]  |
 * |___________________________________________________________________________|
 * | Summary (90235 things currently great)                      _Great links_ |
 *
 * The title expands to fill any space it needs and the search bar is locked to
 * the end of the header (e.g., right in LTR, left in RTL). */

header,
.summary {
  min-width: 400px;
}

header {
  align-items: center;
  display: flex;
  padding: 0 12px;
}

header h1 {
  flex: 1;
  /* TODO(dbeam): reconcile font/line-height/margin with chrome_shared.css */
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  margin: 15px 0;
}

header > :-webkit-any(form, input[type='search']) {
  flex: none;
}

.summary {
  background-color: rgb(235, 239, 249);
  border-top: 1px solid rgb(156, 194, 239);
  display: flex;
  padding: 5px 10px;
  white-space: nowrap;
}

.summary > * {
  flex: none;
}

.summary > :first-child {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
