/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#button-holder {
  float: left;
}

#current-time {
  left: 20px;
  position: absolute;
}

#duration {
  position: absolute;
  right: 20px;
}

:host-context([dir='rtl']) #play-pause-volume-hangouts-controls {
  transform: scaleX(-1);
}

:host-context([dir='rtl']) #route-play-pause-button {
  transform: scaleX(-1);
}

:host-context([dir='rtl']) #route-volume-slider {
  transform: scaleX(-1);
}

#media-controls {
  font-size: 1.25em;
  margin: 0 8px;
}

#play-pause-volume-hangouts-controls {
  display: block;
  margin-top: 13px;
  overflow: hidden;
}

#route-description {
  margin: 15px 8px 3px 8px;
  width: 90%;
}

#route-time-controls {
  display: block;
  margin-top: 3px;
  overflow: hidden;
}

#route-time-slider {
  --paper-slider-knob-color: rgb(16, 16, 16);
  --paper-slider-active-color: rgb(16, 16, 16);
  --paper-slider-pin-color: rgb(16, 16, 16);
  width: 100%;
}

#route-title {
  color: rgb(125, 125, 125);
  margin: 3px 8px;
}

#route-volume-slider {
  --paper-slider-knob-color: rgb(16, 16, 16);
  --paper-slider-active-color: rgb(33, 150, 243);
  --paper-slider-pin-color: rgb(16, 16, 16);
  width: 100%;
}

#timeline {
  font-size: 0.75em;
}

#volume-holder {
  display: block;
  overflow: hidden;
  padding: 0.3em 0;
}

#hangouts-local-present-controls {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding-top: 10.5px;
  white-space: nowrap;
}

#hangouts-local-present-checkbox {
  --cr-checkbox-label-container: {
    -webkit-padding-start: 14px;
  }
  align-items: start;
}

#hangouts-local-present-checkbox-subtitle {
  display: block;
  font-size: 0.8em;
  margin-top: 2px;
  width: 249px;
}

#mirroring-fullscreen-video-controls {
  display: inline-block;
  font-size: 0.8em;
  margin: 15px 8px 3px 8px;
  vertical-align: middle;
}

#mirroring-fullscreen-video-dropdown {
  width: auto;
}
