/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#advanced-options-settings .advanced-options-settings-button {
  margin: 10px 0;
  min-height: 28px;
  width: 100%;
}
