/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#more-settings {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  margin-top: 4px;
  min-height: 51px;
}

#more-settings .more-settings-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 11px;
  margin: 20px 15px 20px 20px;
  vertical-align: middle;
  width: 11px;
}

#more-settings .more-settings-label {
  display: inline;
  height: 28px;
  margin: 10px 0;
}

#more-settings .more-settings-icon-minus {
  background-image: -webkit-image-set(
      url(../images/1x/minus.png) 1x,
      url(../images/2x/minus.png) 2x);
}

#more-settings .more-settings-icon-plus {
  background-image: -webkit-image-set(
      url(../images/1x/plus.png) 1x,
      url(../images/2x/plus.png) 2x);
}
