{
{% if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 2,
  "name": "TODO: Translated Switch access name",
  "version": "{{set_version}}",
  "description": "TODO: Translated Switch access description",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "background": {
    "scripts": [
      "auto_scan_manager.js",
      "automation_manager.js",
      "automation_predicate.js",
      "commands.js",
      "keyboard_handler.js",
      "prefs.js",
      "switch_access.js",
      "tree_walker.js",
      "background.js"
    ]
  },
  "permissions": [
    "accessibilityPrivate",
    "storage",
    "tabs"
  ],
  "automation": {
    "desktop": true
  },
  "options_page": "options.html"
}
