/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#autoScanTimeLabel * {
  clear: left;
  float: left;
}

.container::after {
  clear: both;
  content: '';
  display: block;
}

#keyboardMappingDiv * {
  float: left;
}

#keyboardMappingDiv label {
  clear: left;
}

#keyboardMappingDiv span {
  white-space: pre-wrap;
}

#debugKeyMappingDiv {
  clear: left;
  display: none;
}
