{
  "name": "com.google.chrome.remote_assistance",
  "description": "{{ IT2ME_HOST_DESCRIPTION }}",
  "type": "stdio",
  "path": "{{ IT2ME_HOST_PATH }}",
  // If you modify the list of allowed_origins, don't forget to update
  // chrome/browser/extensions/api/messaging/native_message_host_chromeos.cc
  // to keep the two lists in sync.
  "allowed_origins": [
    "chrome-extension://ljacajndfccfgnfohlgkdphmbnpkjflk/",
    "chrome-extension://gbchcmhmhahfdphkhkmpfmihenigjmpp/",
    "chrome-extension://kgngmbheleoaphbjbaiobfdepmghbfah/",
    "chrome-extension://odkaodonbgfohohmklejpjiejmcipmib/",
    "chrome-extension://dokpleeekgeeiehdhmdkeimnkmoifgdd/",
    "chrome-extension://ajoainacpilcemgiakehflpbkbfipojk/",
    "chrome-extension://hmboipgjngjoiaeicfdifdoeacilalgc/",
    "chrome-extension://inomeogfingihgjfjlpeplalcfajhgai/",
    "chrome-extension://hpodccmdligbeohchckkeajbfohibipg/"
  ]
}
