/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body,
extensionview,
html  {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

extensionview {
  overflow: hidden;
  position: absolute;
}
