/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 21px 10px 24px 10px;
}

h1 {
  margin: 0 0 13px 0;
}

h2 {
    margin: 23px 0 0 0;
}

header {
  border-bottom: 1px solid #eee;
  max-width: 718px;
}

.device {
  background: url(device.png) no-repeat;
  margin: 23px 0;
  max-width: 695px;
  overflow: hidden;
}

html[dir='rtl'] .device {
    background-position: right top;
}

.device .device-info {
  -webkit-padding-start: 40px;
  float: left;
}

.printer {
  background: url(printer.png) no-repeat;
}

html[dir='rtl'] .device .device-info {
  float: right;
}

.device button {
  float: right;
}

html[dir='rtl'] .device button {
  float: left;
}

.subline,
.device-subline {
  color: #999;
  margin: 5px 0;
}

h3.device-name {
  margin: 0;
}

.register-page {
  padding: 15px;
  width: 600px;
}

.register-page .button-list {
  padding-top: 15px;
  text-align: right;
}

html[dir='rtl'] .register-page .button-list {
  text-align: left;
}

.controls {
  border-bottom: 1px solid #eee;
  max-width: 711px;
}

html[dir='rtl'] .controls {
  padding: 13px 4px 7px 3px;
}

.controls .subline {
  -webkit-margin-start: 10px;
}

.login-promo {
  padding-bottom: 5px;
  padding-top: 5px;
}

.inline-login-promo {
    display: inline;
}

.inline-spinner {
  position: relative;
  top: 3px;
}

.cloud-print-message {
  margin: 23px 0;
}

section {
  margin-bottom: 23px;
}

.dialog-contents {
    padding-left: 17px;
}

#back-link {
  background: -webkit-image-set(
      url(chevron_left-1x.png) 1x,
      url(chevron_left-2x.png) 2x)
      no-repeat;
  margin-bottom: 25px;
  margin-top: 6px;
  padding-left: 23px;
}

html[dir='rtl'] #back-link {
  transform: scaleX(-1);
}

html[dir='rtl'] #back-link span {
  display: inline-block;
  transform: scaleX(-1);
}
