// Copyright 2018 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

{%  for declaration in module.namespace|namespace_declarations -%}
/** @const */
{%-   if loop.first %}
let {{declaration}} = {};
{%    else %}
{{declaration}} = {};
{%    endif -%}
{%- endfor -%}

{#--- Interface definitions #}
{%- for interface in interfaces -%}
{%-   include "externs/interface_definition.tmpl" %}
{%  endfor -%}

{#--- Struct definitions #}
{%- for struct in structs -%}
{%-   include "externs/struct_definition.tmpl" %}
{%  endfor -%}
