{{module.namespace}}.{{struct.name}} = class {
  constructor() {
{%- for packed_field in struct.packed.packed_fields %}
    /** @type { {{packed_field.field.kind|closure_type_with_nullability}} } */
    this.{{packed_field.field.name}};
{%-  endfor %}
  }
};
