{
  "name": "{{name}}",
  "version": "{{version}}",
[[if min_chrome_version:]]
  "minimum_chrome_version": "{{min_chrome_version}}",
[[]]
  "manifest_version": 2,
  "description": "{{description}}",
  "offline_enabled": true,
  "icons": {
    "128": "icon128.png"
  },
  "app": {
    "background": {
      "scripts": ["background.js"]
    }
  },
[[if key:]]
  "key": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCMN716Qyu0l2EHNFqIJVqVysFcTR6urqhaGGqW4UK7slBaURz9+Sb1b4Ot5P1uQNE5c+CTU5Vu61wpqmSqMMxqHLWdPPMh8uRlyctsb2cxWwG6XoGSvpX29NsQVUFXd4v2tkJm3G9t+V0X8TYskrvWQmnyOW8OEIDvrBhUEfFxWQIDAQAB",
[[]]
  "oauth2": {
[[if channel == 'Dev':]]
    "client_id": "903965034255-q5lhuqj5eefbatdfif3gv0mdbo0a86pr.apps.googleusercontent.com",
[[elif channel == 'Beta':]]
    "client_id": "903965034255-gp3p4hqr1bd7a1v0etf6icdlu5rets1p.apps.googleusercontent.com",
[[else:]]
    "client_id": "903965034255.apps.googleusercontent.com",
[[]]
    "scopes": ["https://www.googleapis.com/auth/drive"]
  },
[[if multi_platform:]]
  "platforms": [
    {
      "nacl_arch": "x86-64",
      "sub_package_path": "_platform_specific/x86-64"
    },
    {
      "nacl_arch": "x86-32",
      "sub_package_path": "_platform_specific/x86-32"
    },
    {
      "nacl_arch": "arm",
      "sub_package_path": "_platform_specific/arm"
    }
  ],
[[]]
  "permissions": {{permissions}}
}
