/** Copyright 2017 The Chromium Authors. All rights reserved.
  * Use of this source code is governed by a BSD-style license that can be
  * found in the LICENSE file.
**/

@import url(chrome://resources/css/roboto.css);
@import url(chrome://sys-internals/line_chart.css);

/* Scorllbar Style */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.5);
}

/* Global Style */

html,
body {
  font-family: Roboto, 'DejaVu Sans', Arial, sans-serif;
  height: 100%;
  margin: 0;
}

[hidden] {
  display: none !important;
}

/* Nav */

#sys-internals-nav {
  background-color: rgb(46, 90, 181);
  height: 50px;
  padding: 0 10px;
  width: calc(100% - 20px);
}

#nav-menu-btn {
  cursor: pointer;
  fill: #fff;
  height: 24px;
  padding: 10px;
  width: 24px;
}

#nav-menu-btn img {
  height: 100%;
  width: 100%;
}

/* Dummy body */

#sys-internals-body {
  height: calc(100% - 50px);
  position: relative;
  width: 100%;
}

/* Nav Drawer Menu */

#sys-internals-drawer {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  position: absolute;
  transition: background-color 200ms ease-in-out;
  width: 100%;
  z-index: 10000;
}

#sys-internals-drawer.hidden {
  background-color: rgba(0,0,0,0);
}

#drawer-menu {
  background-color: #f8f8f8;
  height: 100%;
  left: 0;
  position: relative;
  transition: left 200ms ease-in-out;
  width: 300px;
}

#drawer-menu.hidden {
  left: -300px;
}

#drawer-title {
  box-sizing: border-box;
  color: #222;
  font-size: 20px;
  height: 42px;
  padding: 12px 30px;
  width: 100%;
}

#drawer-menu hr {
  border-color: #ddd;
  border-width: 1px;
  margin: 8px 0;
}

.drawer-item {
  box-sizing: border-box;
  color: #555;
  display: block;
  font-size: 18px;
  height: 48px;
  padding: 14px 30px;
  text-decoration: none;
  width: 100%;
}

.drawer-item .icon {
  display: inline-block;
  height: 20px;
  margin: 0 10px 0 0;
  vertical-align: text-top;
  width: 20px;
}

.drawer-item .icon img {
  height: 100%;
  width: 100%;
}

/* Info Page */

#infopage-root {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  height: 100%;
  left: 0;
  overflow-x: scroll;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.infopage-panel {
  flex-grow: 1;
  padding: 30px 30px 30px 60px;
}

.infopage-panel .title {
  color: #888;
  font-size: 16px;
  margin-top: 18px;
}

.infopage-panel .content {
  color: #111;
  font-size: 24px;
}
