/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

#header {
  margin: 5px;
}

/* Checkboxes */

#log-checkbox-container {
  margin: 5px;
}

#log-checkbox-container button {
  -webkit-margin-end: 8px;
}

#log-checkbox-container label {
  vertical-align: middle;
}

#log-checkbox-show {
  font-weight: bold;
}

#log-checkbox-container input {
  margin-bottom: 1px;
  vertical-align: middle;
}

/* Log */

#log-container {
  border: 1px solid rgb(220, 220, 220);
  flex: 1 1 100%;
  font-size: 12px;
  margin: 5px;
  overflow: auto;
  padding: 10px;
}

#log-container p {
  font-family: monospace;
  line-height: 20px;
  margin: 2px;
}

/* Log Level tags  */

.level-tag {
  -webkit-margin-end: 5px;
  border: 1px solid;
  border-radius: 2px;
  float: left;
  height: 14px;
  margin-top: 2px;
  padding: 0 4px 2px 4px;
  width: 50px;
}

.log-level-error {
  color: red;
}

.log-level-user {
  color: blue;
}

.log-level-event {
  color: black;
}

.log-level-debug {
  color: grey;
}

/* Log Type tags */

.type-tag {
  -webkit-margin-end: 5px;
  border: 1px solid;
  border-radius: 2px;
  float: left;
  font-weight: bold;
  height: 14px;
  margin-top: 2px;
  padding: 0 4px 2px 4px;
  width: 65px;
}

.log-type-login {
  color: darkgreen;
}

.log-type-network {
  color: darkblue;
}

.log-type-power {
  color: purple;
}
