/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-500);
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

p {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.arc-tos-disable-skip #arc-tos-skip-button,
.arc-tos-loaded .arc-tos-loading,
.arc-tos-loaded .arc-tos-error,
.arc-tos-loaded #arc-tos-retry-button,
.arc-tos-loading .arc-tos-content,
.arc-tos-loading .arc-tos-error,
.arc-tos-loading #arc-tos-retry-button,
.arc-tos-loading #arc-tos-accept-button,
.error .arc-tos-content,
.error .arc-tos-loading,
.error #arc-tos-accept-button,
.error #arc-tos-next-button {
  display: none;
}

.arc-tos-loading #arc-tos-next-button,
.arc-tos-loading #arc-tos-skip-button,
.arc-tos-loading #arc-tos-retry-button {
  pointer-events: none;
}

.arc-tos-loading p,
.error p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.parameter-section {
  margin: 0;
  max-width: 590px;
  padding: 0 20px 16px 20px;
}

#arc-policy-link {
  margin: 0;
  padding: 16px 0 16px 20px;
}

#arc-tos-skip-button {
  color: rgba(0, 0, 0, 0.54);
}

#google-service-confirmation-text {
  font-weight: 600;
}

#arc-tos-dialog {
  height: 640px;
}

#arc-tos-container {
  box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.14);
  padding: -4px 0 0 0;
}

#arc-tos-container::-webkit-scrollbar {
  display: none;
}

#arc-tos-view {
  display: block;
  height: 10px;
  margin: auto;
  padding: 0;
  width: 638px;
}

#arc-tos-view-container {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  flex: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

#arc-tos-skip-button {
  -webkit-padding-end: 6px;
}

#arc-tos-accept-button,
#arc-tos-next-button,
#arc-tos-retry-button {
  -webkit-padding-end: 18px;
}
