/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  background-color: var(--google-green-500);
  color: white;
}

content::content strong {
  font-weight: 500;
}

/* Top part of a page. */

#top {
  box-sizing: border-box;
  font-size: 23px;
  height: 266px;
  padding: 34px 48px 22px;
}

:host(.split) #top {
  padding-bottom: 33px;
}

:host(.big-font) #top {
  font-size: 33px;
}

/* Separator. */

#separator {
  background-color: var(--google-green-100);
  bottom: 0;
  display: block;
  height: 1px;
  left: 48px;
  position: absolute;
  right: 0;
}

:host(.split) #separator {
  display: none;
}

#separator paper-progress {
  --paper-progress-active-color: white;
  --paper-progress-container-color: var(--google-green-100);
  display: none;
  width: 100%;
}

:host(.progress) #separator paper-progress {
  display: block;
}

:host(.progress) #separator {
  bottom: -2px;
  height: 4px;
}

/* Bottom part of a page. */

#bottom {
  font-size: 16px;
  padding: 20px 48px 34px;
}

:host(.split) #bottom {
  background: white;
  color: black;
  padding-top: 35px;
}

:host(.big-font) #bottom {
  font-size: 24px;
}

/* Controls. */

#controls {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: calc(-0.5em - 6px);
}

#controls :first-child {
  margin-left: -0.5em;
}

#controls content[select='paper-button']::content :last-child {
  margin-right: -0.5em;
}

#controls content[select='paper-button']::content :not(:last-child) {
  margin-right: 1em;
}

:host(.split) #controls content[select='paper-button']::content :last-child {
  color: var(--google-green-500);
}
