/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

oobe-dialog {
  height: 640px;
  max-height: calc(100vh - 47px);  /* Subtracting #login-header-bar's height. */
  max-width: 100vw;
  min-height: 0 !important;  /* Making <oobe-dialog> shrinkable. */
  min-width: 0 !important;  /* Making <oobe-dialog> shrinkable. */
  width: 768px;
}

oobe-dialog div {
  line-height: 1.54;  /* 20px height for 13px font. */
}

paper-progress {
  --paper-progress-active-color: var(--google-blue-500);
  height: 3px;
  margin-bottom: 28px;
  width: 100%;
}

.bottom-buttons {
  -webkit-padding-end: 16px;
}

oobe-text-button {
  color: rgb(90, 90, 90);
}

oobe-dialog > iron-icon {
  height: 32px;
  width: 32px;
}

oobe-dialog > iron-icon.warning {
  --iron-icon-fill-color: rgb(219, 68, 55);
}

.warning-icon {
  -webkit-mask-image: url(../../../../../ui/webui/resources/images/warning.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: var(--google-red-500);
}

.footer {
  overflow: hidden;
}

.footer div {
  color: rgb(51, 51, 51);
  font-size: 13px;
}

.footer div.warning {
  color: rgb(197, 57, 41);
  font-weight: 500;
}
