/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gaia-header {
  background-color: var(--google-blue-500);
  color: white;
  height: 198px;
}

:host(:not(.disabled)) .gaia-header {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
  /* z-index is needed to make shadow visible. */
  z-index: 1;
}

.gaia-footer {
  background-color: white;
}

.gaia-footer {
  position: relative;
}

.header-container {
  padding: 50px 40px 18px;
}

.footer-container {
  padding: 24px 40px 34px;
}

::content div.gaia-body-text {
  margin-bottom: 24px;
}

::content div.gaia-body-text p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

::content p.enterprise-info {
  color: white;
  font-size: 15px;
  margin: 8px 0 0 0;
}

::content h1.welcome-message {
  color: white;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 11;
}

paper-progress#progress-bar {
  --paper-progress-active-color: var(--google-yellow-500);
  --paper-progress-container-color: var(--google-yellow-100);
  bottom: 0;
  display: none;
  height: 3px;
  position: absolute;
  width: 100%;
}

:host(.full-disabled) #full-overlay,
:host(.disabled) #bottom-overlay,
:host(.disabled) #progress-bar {
  display: block;
}
