/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: block;
}

paper-input-container {
  --paper-input-container-color: rgb(212, 212, 212);
  --paper-input-container-focus-color: var(--google-blue-500);
  --paper-input-container-input {
    font-size: 15px;
  };
  --paper-input-container-input-color: rgba(0, 0, 0, 0.87);
  --paper-input-container-label: {
    font-size: 15px;
  };
}

paper-input-container {
  padding: 0;
}

paper-input-container > label > span {
  color: rgba(0, 0, 0, 0.54);
}

iron-input input {
  @apply --paper-input-container-shared-input-style;
}

:host-context(html[dir=rtl]) input {
  flex-direction: row-reverse;
}

#domainLabel {
  direction: ltr;
  padding-top: 2px;
  width: auto;
}
