/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: block;
  position: relative;
}

iron-icon[icon='warning'] {
  -webkit-margin-end: 15px;
  -webkit-margin-start: 0;
  color: var(--google-yellow-500);
  margin-bottom: 0;
  margin-top: 0;
}

#navigation {
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
