/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#top-header-bar {
  z-index: 1;
}

.top-header-bar-strip {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#top-header-bar.version-labels-unset  #version-labels {
  display: none;
}

.new-note-action-container {
  display: flex;
  flex: 0;
  height: 56px;
  justify-content: flex-end;
  min-width: 56px;
  overflow: hidden;
  width: 56px;
  z-index: 1;
}

.new-note-action {
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(158, 158, 158, 0.34);
  border-radius: 0 0 0 48px;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  transition-duration: 300ms;
  transition-property: border-radius, height, width;
  width: 48px;
  z-index: 1;
}

html[dir=rtl] .new-note-action {
  border-radius: 0 0 48px 0;
}

.new-note-action:hover,
.new-note-action:focus {
  background-color: rgba(158, 158, 158, 0.46);
  border-radius: 0 0 0 56px;
  height: 56px;
  outline: none;
  width: 56px;
}

html[dir=rtl] .new-note-action:hover,
html[dir=rtl] .new-note-action:focus {
  border-radius: 0 0 56px 0;
}

.new-note-action-icon {
  -webkit-padding-end: 11px;
  height: 16px;
  padding-top: 12px;
  width: 16px;
}

.new-note-background {
  background-color: black;
  border-radius: 0 0 0 100%;
  bottom: auto;
  display: none;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top right;
  z-index: 1;
}

.new-note-background.new-note-action-above-login-header {
  z-index: 5;
}

html[dir=rtl] .new-note-background {
  border-radius: 0 0 100% 0;
  left: 0;
  right: auto;
  transform-origin: top left;
}

#top-header-bar.new-note-activated .new-note-background {
  display: block;
}

.new-note-background-animated {
  transition-duration: 300ms;
  transition-property: opacity, transform;
}
