/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#oobe:not([md-mode]) #hid-detection {
  min-height: 395px;
  padding: 70px 17px 21px;
  width: 622px;
}

#hid-detection .step-contents {
  margin: 33px auto 82px;
  width: 475px;
}

#hid-detection #hid-invitation-text {
  font-size: 16px;
}

#hid-detection #hid-prerequisite-msg {
  padding: 10px 0 20px;
}

#hid-keyboard-block,
#hid-mouse-block {
  padding: 10px 0;
}

#hid-keyboard-block {
  padding-bottom: 30px;
}

#hid-keyboard-icon,
#hid-mouse-icon {
  bottom: -15px;
  height: 40px;
  position: relative;
  width: 40px;
}

#hid-mouse-icon-block,
#hid-keyboard-icon-block {
  display: inline;
}

#hid-mouse-label,
#hid-keyboard-label {
  -webkit-padding-start: 10px;
  display: inline;
}

#hid-detection .label {
  display: none;
}

#hid-keyboard-tick,
#hid-mouse-tick {
  -webkit-margin-start: -28px;
  bottom: -20px;
  position: relative;
  visibility: hidden;
}

.searching {
  opacity: 0.6
}

#hid-detection #hid-keyboard-pincode {
  -webkit-padding-start: 60px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.searching #hid-keyboard-label-searching,
.searching #hid-mouse-label-searching,
.usb #hid-keyboard-label-usb,
.usb #hid-mouse-label-usb,
.connected #hid-mouse-label-connected,
.paired #hid-keyboard-label-paired,
.paired #hid-mouse-label-paired,
.pairing #hid-keyboard-label-pairing,
.usb #hid-keyboard-tick,
.usb #hid-mouse-tick,
.connected #hid-mouse-tick,
.paired #hid-keyboard-tick,
.paired #hid-mouse-tick {
  display: inline;
}

.usb #hid-keyboard-tick,
.usb #hid-mouse-tick,
.connected #hid-mouse-tick,
.paired #hid-keyboard-tick,
.paired #hid-mouse-tick {
  visibility: visible;
}

