/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-500);
  text-decoration: none;
  width: fit-content;
}

#crosEulaFrame {
  /* Works around the problem that webview height is not calculated
   * correctly in flex layout. 207px is derived from en-US locale under
   * the default 640px height of #eulaDialog. */
  height: 207px;
}

#crosEulaFrame,
#installationSettings,
#logging {
  font: 13px Roboto, sans-serif;
}

#crosEulaFrame {
  border: 1px solid var(--google-blue-500);
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .13);
}

#installationSettings {
  -webkit-margin-start: 20px;
  margin-top: 31px; /* = 44 - font size */
}

#logging {
  -webkit-margin-start: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 23px; /* = 36 - font size */
}

cr-toggle {
  align-self: center;
  width: 36px;
}

#usageStatsLabelContainer {
  -webkit-margin-start: 16px;
  line-height: 20px;
}

.bottom-buttons {
  padding: 0 6px; /* = 8px - 2px back button border */
}

#eula-accept-button,
#settings-close-button {
  -webkit-padding-end: 18px;
}

.tpm-password > div {
  margin-top: 18px;
}

.password-row div {
  color: rgb(66, 133, 244);
  font: 24px Roboto;
  margin-top: 82px;
}

.installation-settings-spinner {
  -webkit-margin-end: 5px;
}
