/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#reset-confirm-overlay {
  font-size: 16px;
  margin: auto;
  min-height: 250px;
  width: 400px;
}

#reset-confirm-overlay .button-strip {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#reset-confirm-overlay .button-strip button {
  /*-webkit-margin-start: 9px;*/
  margin: 0 10px;
}

#overlay-reset[md-mode] {
  background: rgba(0, 0, 0, .5);
}
