/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.popup-overlay {
  align-items: center;
  background: rgba(255, 255, 255, .75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 250ms opacity;
  z-index: 5;
}

#popup-overlay[md-mode] {
  background: rgba(0, 0, 0, .5);
}

.oobe-popup {
  background: white;
  border: 1px solid rgb(188, 193, 208);
  border-radius: 2px;
  box-shadow: 0 5px 80px #505050;
  min-height: 250px;
  position: relative;
  width: 460px;
  z-index: 10;
}

.oobe-popup h1 {
  -webkit-padding-end: 24px;
  background: linear-gradient(white, #F8F8F8);
  color: rgb(83, 99, 125);
  font-size: 105%;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px 8px 15px;
  text-shadow: white 0 1px 2px;
  user-select: none;
}

.popup-content-area {
  padding: 20px 20px 60px 20px;
}
