/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#tpm-busy {
  text-align: center;
}

#tpm-password {
  font-weight: bold;
  text-align: center;
}

#installation-settings-popup button {
  bottom: 20px;
  position: absolute;
  right: 20px;
}