/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#update {
  min-height: 423px;
  padding: 70px 17px 69px;    /* Screen has no controls. */
}

#oobe[md-mode] #update {
  min-height: unset;
  padding: unset;
}

#update #update-screen-curtain {
  -webkit-box-align: start;
  -webkit-box-pack: center;
}

#update #update-checking-progress {
  -webkit-box-align: start;
  -webkit-box-pack: center;
  color: #9c9c9c;
  display: -webkit-box;
}

#update #update-screen-curtain {
  margin: 45px 35px;
}

#update-screen-main {
  margin: 45px 35px;
  min-height: 114px;
  text-align: center;
}

#update #update-cancel-hint {
  -webkit-margin-start: 45px;
  color: rgb(170, 0, 0);
  margin-top: 30px;
  position: absolute;
}

#update #update-upper-label {
  margin-bottom: 4px;
}

#update #checking-updates-label {
  margin-bottom: 90px;
}

#update #update-bottom-label {
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: left;
}

#update progress {
  border: solid 1px #bbb;
  height: 15px;
  margin-bottom: 4px;
  margin-top: 34px;
  padding: 1px;
  width: 300px;
}

#update progress::-webkit-progress-bar {
  background: white;
}

#update progress::-webkit-progress-value {
  background: #bbb;
}

#update .progress-message {
  color: #a3a3a3;
  font-size: 13px;
  margin-top: 4px;
  text-align: center;
}
