/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#value-prop-view {
  display: block;
  height: 372px;
  margin: auto;
  padding: 0;
}

.value-prop-loading #retry-button,
.value-prop-loaded #retry-button,
.value-prop-error #next-button {
  display: none;
}

#loading-container,
#error-container,
#view-container {
  position: absolute;
  visibility: hidden;
  width: 480px;
}

.value-prop-loading-animation #loading-container,
.value-prop-loaded #view-container,
.value-prop-error #error-container {
  visibility: visible;
}

.value-prop-loading #retry-button,
.value-prop-loading #next-button,
.value-prop-loading #skip-button {
  pointer-events: none;
}

.title {
  font-size: 18px;
}

#subtitle {
  font-size: 12px;
  padding: 14px 0 0 0;
}

#loading-message {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  line: 17px;
  padding: 168px 0 0 0;
}

paper-progress {
  --paper-progress-active-color: rgb(66, 133, 244);
  --paper-progress-container-color: #CEE0FC;
  --paper-progress-secondary-color: rgb(66, 133, 244);
  display: block;
  height: 3px;
  padding: 4px 0 0 0;
  width: 100%;
}

#skip-button {
  color: rgb(66, 133, 244);
}

#retry-button {
  -webkit-margin-end: 18px;
}

#next-button {
  -webkit-margin-end: 18px;
}
