/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#connect {
  min-height: 395px;
  padding: 70px 17px 21px;
}

#oobe[md-mode] #connect {
  padding: 0;
}

#connect table {
  margin: 7em auto;
}

.control-with-label {
  -webkit-box-align: start;
  display: -webkit-box;
  margin: 10px 0;
}

#welcome-message {
  color: #444;
  font-size: 16px;
  margin-bottom: 30px;
}

#connect .step-contents {
  margin: 33px auto 82px;
  width: 435px;
}

.connect-debugging-specific {
  display: none;
}

.connect-debugging-view .connect-debugging-specific {
  display: block;
}

html:not([highlight=strong]) #network-timezone-setting {
  display: none;
}
