/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#header-container {
  padding: 64px 64px 0 64px;
}

#header-container[android] {
  padding: 48px 48px 0 48px;
}

.oobe-header {
  min-height: 84px; /* 64 title + 20 subtitle */
}

#footer-container {
  padding: 44px 64px 0 64px;
}

#footer-container[noFooterPadding] {
  padding: 0;
}

#oobe-bottom {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.14);
  height: 80px;
  padding: 0;
  z-index: 1;
}

#oobe-bottom[hideShadow] {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#oobe-bottom[android] {
  height: 60px;
}
