/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host .text {
  color: #333;
  font: 13px Roboto, sans-serif;
  line-height: 18px;
}

.subtitle.update-subtitle {
  color: #333;
  font: 13px Roboto, sans-serif;
  line-height: 18px;
}

#estimated-time-left,
#progress-message {
  padding-top: 31px; /* = 44 - font size */
}

#checkingForUpdateCancelHint,
#updatingCancelHint {
  color: rgb(170, 0, 0);
  padding: 0;
}

.update-illustration {
  padding-bottom: 82px;
}

paper-progress {
  --paper-progress-active-color: var(--google-blue-500);
  --paper-progress-secondary-color: var(--google-blue-100);
  bottom: 0;
  height: 3px;
  width: 100%;
}
