/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#kiosk-enable {
  min-height: 423px;
  padding: 40px 17px 80px;
  text-align: center;
  width: 722px;
}

#kiosk-enable-controls {
  bottom: 80px;
  justify-content: center;
}

#kiosk-enable-msg {
  color: #606060;
  font-size: 22px;
  padding: 5px 45px 30px;
}

#kiosk-enable-details {
  color: #606060;
  font-size: 16px;
  padding: 35px 40px 80px;
}
