/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  background-color: white;
  display: flex;
  width: 100%;
}

#elementBox {
  padding: 0 10px;
  width: inherit;
}

cr-toggle {
  align-self: center;
  width: 36px;
}

#titleContainer {
  color: rgba(0, 0, 0, 0.87);
  font: 13px Roboto, sans-serif;
}

.display-value {
  color: rgba(0, 0, 0, 0.54);
  font: 13px Roboto, sans-serif;
}
