/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.bottom-buttons {
  width: 100%;
}

.reset-popup {
  background: white;
  border-radius: 2px;
  border-width: 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, .12), 0 16px 16px rgba(0, 0, 0, .24);
  min-height: 158px;
  padding: 0;
  position: relative;
  width: 512px;
  z-index: 10;
}

.reset-popup h1 {
  color: var(--google-grey-900);
  font: 15px Roboto, sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  padding: 16px 20px;
}

.reset-popup-content-area {
  color: rgba(0, 0, 0, .54);
  font: 13px Roboto, sans-serif;
  line-height: 20px;
  padding: 0 20px 20.5px;
}

oobe-text-button {
  -webkit-margin-end: 16px;
  color: #5a5a5a;
  margin-bottom: 16px;
}

#cancelButton {
  -webkit-margin-end: 4px;
}
