/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

hd-iron-icon.oobe-icon {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
  --iron-icon-fill-color: var(--google-blue-500);
}

iron-icon.oobe-icon {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
  color: var(--google-blue-500);
}

oobe-dialog .header {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, sans-serif;
}

oobe-dialog h1.title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 28px;
  font-weight: normal;
  margin: 36px 0 0 0; /* = 64 - font height*/
}

oobe-dialog .subtitle {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 18px;
  margin: 23px 0 0 0; /* = 40 - 4 (adjustment) - line-height */
}

oobe-dialog .bottom-buttons {
  width: 100%
}
