/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#user-image {
  min-height: 640px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-top: 24px;
  width: 768px;
}

#user-image.loading {
  height: 640px; /* Should be the same as #gaia-signin height. */
  padding: 0 0 0;
  width: 768px; /* Should be the same as #gaia-signin width. */
}

#user-image-screen-curtain {
  -webkit-margin-start: 8px;
}

#user-image-screen-title {
  font-size: 28px;
  margin-top: 24px;
}

#user-image .step-contents {
  -webkit-margin-start: 31px;
  margin-bottom: 16px;
}

.user-image-stream-area .spinner {
  display: none;
  height: 44px;
  left: 50%;
  margin-left: -22px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  width: 44px;
}

#user-image-logo {
  -webkit-margin-start: 8px;
  height: 32px;
  margin-top: 32px;
  width: auto;
}

#ok-button {
  -webkit-margin-end: 16px;
  margin-top: -6px;
}
