/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.vertical-margin {
  width: 22px; /* = 24 - (button border 2px) */
}

#bottom-margin {
  height: 24px;
}

#title {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300; /* roboto-light */
  height: 80px;
  line-height: 40px;
  margin: 120px 80px 30px 80px;
  text-align: center;
  user-select: none;
}

.welcome-illustration {
  padding-top: 14px;
  user-select: none;
}

oobe-welcome-secondary-button {
  margin-right: 8px;
}

#buttons {
  width: 100%;
}
