/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#eula {
  min-height: 395px;
  padding: 70px 17px 21px;
}

#oobe[md-mode] #eula {
  min-height: unset;
  padding: unset;
}

#cros-eula,
#oem-eula {
  border: 1px solid #d9d9d9;
  height: 222px;
}

.eula-frame {
  border: none;
  height: 222px;
}

#logging {
  clear: both;
  font-size: small;
  margin-top: 20px;
  width: 620px;
}

#logging div {
  display: table-cell;
  vertical-align: middle;
}

#usage-stats {
  -webkit-margin-end: 10px;
}

.eula-columns {
  display: -webkit-box;
  width: 630px;
}

#cros-eula {
  width: 314px;
}

#cros-eula-frame {
  width: 309px;
}

#oem-eula {
  border-left: none;
  width: 313px;
}

#oem-eula-frame {
  width: 308px;
}

#eulas.one-column #cros-eula {
  width: 628px;
}

#eulas.one-column #cros-eula-frame {
  width: 623px;
}

#eulas.one-column #oem-eula {
  display: none;
}

#eula #stats-help-link {
  color: rgb(49, 106, 197);
}

#eula .step-contents {
  -webkit-margin-start: 32px;
  margin-bottom: 30px;
}

#eula .credits {
  clear: both;
  font-size: small;
}

#cros-eula-loading {
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: none;
  height: 100%;
  width: 100%;
}

.step.eula-loading #cros-eula-frame {
  display: none;
}

.step.eula-loading #cros-eula-loading {
  display: -webkit-flex;
}
