/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: block;
}

#title {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 45px;
  padding-bottom: 18px;
}

#content {
  font-size: 32px;
  padding-top: 25px;
}

