/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#autolaunch {
  min-height: 423px;
  padding: 40px 17px 80px;
  text-align: center;
  width: 722px;
}

#autolaunch-controls {
  bottom: 80px;
  justify-content: center;
}

#autolaunch-warning-title {
  color: #606060;
  font-size: 22px;
  padding: 5px 45px 30px;
}

#autolaunch-warning {
  color: #606060;
  font-size: 16px;
  padding: 35px 40px 10px;
}

#autolaunch-app {
  padding-bottom: 40px;
}

#autolaunch-app-container {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-flex;
}

#autolaunch-app-name {
  color: #404040;
  font-size: 22px;
  padding-left: 10px;
}
