/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* TODO(dzhioev): support RTL. http://crbug.com/423354 */

:host {
  background-color: var(--google-yellow-500);
  color: white;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  height: 100%;
  user-select: none;
}

neon-animated-pages {
  left: 114px;
  position: absolute;
  right: 0;
  top: 100px;
}

#illustration {
  background-image: url(chrome://theme/IDR_BUILDINGS_ILLUSTRATION);
  bottom: 95px;
  height: 368px;
  position: absolute;
  right: 95px;
  width: 503px;
}

#device-indicator {
  bottom: 74px;
  font-size: 33px;
  font-weight: bolder;
  left: 50px;
  position: absolute;
}

#device-label {
  margin-left: 0.4em;
}

#code {
  font-family: 'Roboto';
  font-size: 120px;
  font-weight: lighter;
}

iron-icon {
  height: 48px;
  width: 48px;
}
