/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  --oobe-dialog-list-item-border: 1px solid rgba(0, 0, 0, 0.06);
}

/************* Language Screen **************/
#languageScreen .language-selection-entry {
  border-top: var(--oobe-dialog-list-item-border);
  height: 44px;
  padding: 0 10px;
}

#languageScreen .language-selection-entry:last-of-type {
  border-bottom: var(--oobe-dialog-list-item-border);
}

#languageScreen .language-selection-title {
  color: rgba(0, 0, 0, 0.87);
  font: 13px Roboto, sans-serif;
}

#languageScreen .bottom-buttons {
  padding: 0 24px;
}

/************* Accessibility Screen **************/
#accessibilityScreen oobe-a11y-option {
  border-top: var(--oobe-dialog-list-item-border);
  min-height: 56px;
}

#accessibilityScreen oobe-a11y-option:last-of-type {
  border-bottom: var(--oobe-dialog-list-item-border);
}

#accessibilityScreen .bottom-buttons {
  padding: 0 24px;
}

/************* Network Selection Screen **************/
#networkSelectionScreen .footer {
  max-height: 313px;
}

#networkSelectionScreen .bottom-buttons {
  padding: 0 6px; /* = 8px - 2px back button border */
}

/************* Timezone Screen **************/
#timezoneScreen .timezone-selection-entry {
  border-top: var(--oobe-dialog-list-item-border);
  height: 44px;
  padding: 0 20px;
}

#timezoneScreen .timezone-selection-entry:last-of-type {
  border-bottom: var(--oobe-dialog-list-item-border);
}

#timezoneScreen .timezone-selection-title {
  color: rgba(0, 0, 0, 0.87);
  font: 13px Roboto, sans-serif;
}

#timezoneScreen .bottom-buttons {
  padding: 0 24px;
}

/************* Advanced Options screen **************/
#oobeAdvancedOptionsScreen .advanced-options-entry {
  border-top: var(--oobe-dialog-list-item-border);
  height: 56px;
  padding: 0 4px;
}

#oobeAdvancedOptionsScreen .advanced-options-entry button {
  background: unset;
  border: unset;
  font: unset;
  padding: 6px;
  text-align: unset;
}

#oobeAdvancedOptionsScreen .advanced-options-entry:last-of-type {
  border-bottom: var(--oobe-dialog-list-item-border);
}

#oobeAdvancedOptionsScreen .advanced-option-title {
  color: rgba(0, 0, 0, 0.87);
  font: 13px Roboto, sans-serif;
}

#oobeAdvancedOptionsScreen .advanced-option-subtitle {
  color: rgba(0, 0, 0, 0.54);
  font: 13px Roboto, sans-serif;
}

#oobeAdvancedOptionsScreen .bottom-buttons {
  padding: 0 24px;
}
