/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#continue-button-text {
  text-transform: none;
}

#keyboard-icon,
#mouse-icon {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
  padding-right: 8px;
}

#keyboard-tick,
#mouse-tick {
  -webkit-margin-start: -28px;
  position: relative;
  top: 4px;
}

#hid-keyboard-pincode {
  padding-bottom: 4px;
};

#hid-continue-button {
  -webkit-padding-end: 18px;
}

.bottom-buttons {
  padding: 0 6px; /* = 8px - 2px back button border */
}

.hid-selection-entry {
  border-top: 1px solid lightgrey;
  min-height: 44px;
  padding: 0 20px;
}

.hid-selection-entry:last-of-type {
  border-bottom: 1px solid lightgrey;
}
