/* Copyright 2016 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

#button {
  --paper-button-flat-keyboard-focus: {
    border-color: rgba(66, 133, 244, 0.4); /* #4284f4 */
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
  };
  color: var(--google-blue-500);
  font: var(--oobe-roboto-bold), sans-serif;
  font-size: 12px;
  height: 32px; /* = 28 + border (2px + 2px) */
  margin: 0;
  min-width: 92px; /* = 88 + border (2px + 2px) */
  padding: 0 16px;
}

#button:not([focused]) {
  border-color: transparent;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
}

#text {
  text-transform: none;
}

iron-icon {
  --iron-icon-height: 12px;
  --iron-icon-width: 12px;
  padding: 0 8px;
}

#button[disabled] #text,
#button[disabled] iron-icon {
  color: rgba(0, 0, 0, 0.34);
}

paper-button[disabled] {
  background: transparent;
}
