/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* TODO(dzhioev): support RTL. http://crbug.com/423354 */

:host {
  display: block;
  overflow: auto;
}

core-selector {
  display: block;
}

:host([connecting]) {
  pointer-events: none;
}

paper-icon-item {
  padding-bottom: 18px;
  padding-top: 18px;
}

/* Items separator. */
paper-icon-item:not(:last-of-type)::after {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: calc(40px + 1em);
  position: absolute;
  right: 0;
}

iron-icon {
  height: 40px;
  margin-right: 1em;
  width: 40px;
}

.throbber {
  display: none;
}

.iron-selected {
  font-weight: bold;
}

:host([connecting]) .iron-selected .throbber {
  background: url(chrome://resources/images/throbber_small.svg) no-repeat;
  background-size: cover;
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

