/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color: #333;
  font: 13px Roboto, sans-serif;
  font-weight: 400; /* roboto-regular */
  height: 640px;
  width: 768px;
}

.footer {
  padding: 18px 64px 0;
}

#recommend-apps-skip-button {
  color: rgba(0, 0, 0, 0.54);
}

#recommend-apps-skip-button {
  -webkit-padding-end: 6px;
}

#recommend-apps-install-button {
  -webkit-padding-end: 18px;
}

#recommend-apps-container {
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#recommend-apps-container .column {
  flex-basis: 33.33%;
  margin-bottom: 20px;
}

.checkbox-label {
  display: table;
}

img.app-icon {
  display: table-cell;
  height: 24px;
  margin-right: 4px;
  vertical-align: middle;
  width: 24px;
}

span.app-title {
  display: table-cell;
  vertical-align: middle;
}