/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: block;
  position: relative;
}

#navigation {
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#cancelConfirmDlg {
  --cr-dialog-native: {
    color: var(--primary-text-color);
    font-size: 15px;
    width: 384px;
  };
}
