/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arc-tos {
  /* To prevent appearing visual gap at the bottom for the some languages. */
  height: 640px;
  min-height: unset;
  padding: unset;
}

#arc-tos .popup-overlay {
  background: rgba(0, 0, 0, .5);
}

#arc-tos-overlay-content-text {
  box-sizing: border-box;
  height: 200px;
  margin: auto;
  padding: 24px 8px 8px 8px;
  width: 100%;
}

#arc-tos-overlay-content-text p {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 400;
  text-align: justify;
}

#arc-tos-overlay-webview {
  border: 1px solid #d9d9d9;
  display: block;
  height: 300px;
  width: 622px;
}

#arc-tos-overlay-webview-container.overlay-loading > webview,
#arc-tos-overlay-webview-container:not(.overlay-loading) > div {
  display: none;
}

#arc-tos-overlay-webview-container {
  box-sizing: border-box;
  height: 332px;
  margin: auto;
  padding: 24px 8px 8px 8px;
  width: 100%;
}

.arc-tos-overlay-close-top {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG);
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

html[dir='rtl'] .arc-tos-overlay-close-top {
  left: 10px;
  right: auto;
}

.arc-tos-button-strip {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
}

.arc-tos-overlay-close-top:hover {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_H);
}

.arc-tos-overlay-close-top:active {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_P);
}

.arc-overlay-url .oobe-popup {
  width: 640px;
}

.arc-overlay-text #arc-tos-overlay-webview-container,
.arc-overlay-url #arc-tos-overlay-content-text {
  display: none;
}


#arc-tos #arc-tos-overlay-content-text p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

a.invisible-link {
  display: inline-block;
  height: 0;
  width: 0;
}
