/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#device-disabled,
#device-disabled-top-container,
#device-disabled-bottom-container {
  display: flex;
  flex-direction: column;
}

#device-disabled {
  font-size: 12px;
  line-height: 18px;
  width: 330px;
}

#device-disabled-top-container {
  background-color: rgb(213, 0, 0);
  color: white;
  padding: 25px 20px;
  text-align: center;
}

#device-disabled-symbol {
  align-self: center;
  background-image: url(chrome://theme/IDR_DEVICE_DISABLED);
  height: 24px;
  width: 24px;
}

#device-disabled-heading {
  font-size: 15px;
  line-height: 15px;
  margin-top: 8px;
}

#device-disabled-explanation {
  font-weight: bold;
  margin: 25px 0 -5px;
  max-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#device-disabled-bottom-container {
  background-color: white;
  padding: 25px 20px;
}

#device-disabled-message {
  margin: -3px 0 -5px;
  max-height: 400px;
  overflow: auto;
  text-overflow: clip;
  white-space: pre-wrap;
  word-wrap: break-word;
}
