/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
#ad-password-change {
  bottom: 0;
  display: block;
  height: 528px; /* Should be the same as #gaia-signin. */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 448px; /* Should be the same as #gaia-signin. */
}
