/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arc-kiosk-splash {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  background: white;
  display: flex;
}

#arc-splash-content {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

#arc-splash-header {
  -webkit-padding-start: 108px;
  background: left center no-repeat;
  background-size: 96px;
  color: #666;
  display: flex;
  font-size: 48px;
  height: 96px;
  line-height: 96px;
}

#arc-splash-launch-text {
  color: #666;
  font-size: 18px;
  padding-top: 50px;
}

#arc-splash-spinner {
  height: 32px;
  width: 32px;
}

#arc-splash-shortcut-info {
  bottom: 50px;
  color: gray;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
