/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#app-launch-splash {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: white;
  display: -webkit-box;
}

#splash-content {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  position: relative;
}

#splash-header {
  -webkit-padding-start: 108px;
  background: left center no-repeat;
  background-size: 96px;
  color: #666;
  display: -webkit-box;
  font-size: 48px;
  height: 96px;
  line-height: 96px;
}

#splash-launch-text {
  color: #666;
  font-size: 18px;
  padding-top: 50px;
}

#splash-spinner {
  height: 32px;
  width: 32px;
}

#splash-config-network-container {
  height : 30px;
  opacity: 1;
  padding-bottom: 20px;
  transition: 1s opacity;
}

#splash-config-network-container.faded {
  opacity: 0;
}

#splash-config-network {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#splash-config-network:hover {
  color: rgb(202, 67, 100)
}

#splash-shortcut-info {
  bottom: 50px;
  color: gray;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
