/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * This is the stylesheet used by the Locally managed user creation flow screen.
 */

#supervised-user-creation {
  height: 609px; /* Same size as GAIA sign in screen.*/
  padding: 0 0;  /* Some screens have elements right next to borders. */
  width: 722px;
}

#supervised-user-creation .step-contents {
  height: 100%;
}

#supervised-user-creation .nofocus:focus {
  outline: none;
}

#supervised-user-creation .step-controls {
  -webkit-padding-end: 20px;
  align-items: center;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

#supervised-user-creation .controls-links {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

#supervised-user-creation .controls-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#supervised-user-creation .logo-padded-text {
  padding: 0 17px 0;
}

#supervised-user-creation .marketing {
  background-color: green;
  height: 344px;
}

#supervised-user-creation .below-marketing {
  font-size: 12px;
  line-height: 18px;
  max-height: 184px;
  overflow-x: auto;
}

#supervised-user-creation .button-link {
  font-size: small;
  padding: 0 20px;
}

.below-marketing::-webkit-scrollbar {
  width: 8px;
}

.below-marketing::-webkit-scrollbar-track-piece {
  background: #eee;
}

.below-marketing::-webkit-scrollbar-thumb {
  background: #888;
}

#supervised-user-creation .page-no-marketing {
  height: 470px;
  padding: 70px 17px 0;
}

#supervised-user-creation .page-title {
  color: #000;
  font-size: 15px;
  line-height: 24px;
}

.below-marketing strong {
  color: #000;
  font-weight: bold;
}

#supervised-user-creation .page-title-explanation {
  color: rgb(150, 150, 150);
  font-size: 12px;
}

#supervised-user-creation .page-title.inline {
  -webkit-margin-end: 1ex;
  display: inline-block;
}

#supervised-user-creation .page-title-explanation.inline {
  display: inline;
}

#supervised-user-creation .page-title.centred {
  text-align: center;
}

#supervised-user-creation .page-title-explanation.centred {
  text-align: center;
}

#supervised-user-creation-intro-title {
  font-size: x-large;
  text-align: center;
}

#supervised-user-creation-intro-placeholder {
  background-color: gray;
  font-size: x-large;
  height: 150px;
  text-align: center;
}

#supervised-user-creation-intro .below-marketing {
  margin: 20px 21px 2px 40px;
}

#supervised-user-creation-intro-alternate-text {
  margin-bottom: 12px;
  margin-top: 12px;
}

#supervised-user-creation-intro-text-3 {
  margin-top: 12px;
}

#supervised-user-creation-created .below-marketing {
  margin: 20px 40px 0;
}

#supervised-user-creation-created-text-1 {
  max-width: 600px;
  word-wrap: break-word;
}

#supervised-user-creation-created-text-2 {
  margin-top: 20px;
  max-width: 600px;
  word-wrap: break-word;
}

#supervised-user-creation-created-text-3 {
  margin-top: 20px;
}

#supervised-user-creation-password-block,
#supervised-user-creation-password-title {
  margin-top: 10px;
}

#supervised-user-creation-name-block {
  margin-bottom: 20px;
  margin-top: 10px;
}

input.supervised-user-creation-manager-password,
#supervised-user-creation-name,
#supervised-user-creation-password {
  padding: 4px 6px;
}
#supervised-user-creation-password-confirm {
  margin-top: 12px;
  padding: 4px 6px;
}

#supervised-user-creation-name-error {
  visibility: hidden;
}

#supervised-user-creation-name-error.error {
  color: rgb(207, 93, 70);
  padding-left: 28px;
  visibility: visible;
}

#supervised-user-creation-managers-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#supervised-user-creation-managers-pane {
  border: 1px solid #c8c8c8;
  height: 100%;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* This class will be set for elements with hide-on-import class by JS when
 * page is used in 'import' mode. */
#supervised-user-creation .hidden-on-import {
  display: none;
}

#supervised-user-creation-error {
  padding: 175px 120px 0;
  text-align: center;
}

#supervised-user-creation-error .error-icon {
  margin-bottom: 50px;
}

#supervised-user-creation-error  .error-message-paragraph {
  margin-bottom: 40px;
  margin-top: 30px;
}

.screen-control-button {
  margin-left: 10px !important;
}

.import-pod {
  height: 32px;
  opacity: 0.8;
  padding: 20px;
  width: 646px;
}

.import-pod .import-pod-name {
  color: #000;
  display: inline-block;
  height: 32px;
  max-height: 32px;
  padding-top: 6px;
  vertical-align: top;
}

.import-pod.imported .import-pod-name {
  color: rgb(141, 141, 141);
}

.import-pod .import-pod-image {
  border: 1px solid gray;
  display: inline;
  height: 30px;
  width: 30px;
}

.manager-pod {
  height: 32px;
  opacity: 0.8;
  padding: 20px;
  width: 646px;
}

.manager-pod .supervised-user-creation-manager-info-block {
  float: left;
  min-height: 32px;
}

.manager-pod .supervised-user-creation-manager-image {
  border: 1px solid gray;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.manager-pod .supervised-user-creation-manager-info {
  display: inline-block;
  margin: 0 8px;
  min-height: 32px;
}

.manager-pod .supervised-user-creation-manager-info-text {
  display: inline-block;
  min-height: 32px;
  vertical-align: top;
}

.manager-pod .password-block {
  float: right;
}

.manager-pod .supervised-user-creation-manager-email {
  color: #666;
  font-size: small;
  max-height: 16px;
}

.manager-pod .supervised-user-creation-manager-name {
  color: #000;
  font-size: small;
  max-height: 16px;
}

#supervised-user-creation-status {
  margin: 4px 10px;
}

#supervised-user-creation-status .error {
  color: rgb(207, 93, 70);
}

#supervised-user-creation-status .spinner-wrapper {
  -webkit-margin-start: 3px;
  display: inline-flex;
  margin-top: 3px;
  vertical-align: top;
}

#supervised-user-creation-status .id-text {
  display: inline-flex;
  margin-top: 1px;
  max-width: 480px;
  vertical-align: baseline;
}

.manager-pod.focused {
  background-color: rgb(66, 129, 244);
  opacity: 1;
}

.import-pod.imported.focused {
  background-color: rgb(238, 238, 238);
  opacity: 1;
}

.import-pod.focused {
  background-color: rgb(66, 129, 244);
  opacity: 1;
}

.manager-pod.focused .supervised-user-creation-manager-email {
  color: #fff;
}

.manager-pod.focused .supervised-user-creation-manager-name {
  color: #fff;
}

#supervised-user-creation-import-pane {
  border: 1px solid #c8c8c8;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

#supervised-user-creation-import .page-title-explanation {
  padding-bottom: 10px;
  padding-top: 6px;
}

.manager-pod .password-error,
#supervised-user-creation .password-error,
#supervised-user-creation .duplicate-name {
  border: 1px solid red !important;
}

#supervised-user-creation-image-picker {
  margin-top: 16px;
}

#supervised-user-creation-image-grid {
  -webkit-user-drag: none;
  display: inline-block;
  height: 272px;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  user-select: none;
  width: 400px;
}

#supervised-user-creation-image-grid img {
  background-color: white;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}

#supervised-user-creation-image-grid > li {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
  margin: 4px;
  padding: 3px;
}

#supervised-user-creation-image-grid [selected] {
  border: 2px solid rgb(0, 102, 204);
  padding: 2px;
}

#supervised-user-creation-image-preview {
  float: right;
  margin: 4px;
  max-width: 220px;
  position: relative;
}

html[dir=rtl] #supervised-user-creation-image-preview {
  float: left;
}

#supervised-user-creation-image-preview-img {
  display: block;
  max-height: 220px;
  max-width: 220px;
}

#supervised-user-creation-image-preview-img.animated-transform {
  transition: transform 200ms linear;
}

.camera.live #supervised-user-creation-image-preview-img {
  display: none;
}

.default-image #supervised-user-creation-image-preview-img {
  background: white;
  border: solid 1px #cacaca;
  border-radius: 4px;
  height: 220px;
  padding: 2px;
  width: 220px;
}

.supervised-user-creation-image-stream-area {
  display: none;
  padding: 0;
  position: relative;
}

.camera.live .supervised-user-creation-image-stream-area {
  display: block;
}

#supervised-user-creation-image-stream-crop {
  height: 220px;
  overflow: hidden;
  position: relative;
  transform: rotateY(180deg);
  transition: transform 200ms linear;
  width: 220px;
}

.supervised-user-creation-image-stream {
  border: solid 1px #cacaca;
  height: 220px;
  /* Center image for 4:3 aspect ratio. */
  left: -16.6%;
  position: absolute;
  visibility: hidden;
}

.online .supervised-user-creation-image-stream {
  visibility: visible;
}

#supervised-user-creation-image-preview-caption {
  color: dimGray;
  font-size: smaller;
  margin: 8px 4px;
}

.camera #supervised-user-creation-image-preview-caption {
  display: none;
}

#supervised-user-creation-discard-photo,
#supervised-user-creation-take-photo {
  display: none;
  height: 25px;
  margin: 4px 1px;
  padding: 0;
  width: 220px;
}

.camera:not(.live) #supervised-user-creation-discard-photo {
  background: url(chrome://theme/IDR_USER_IMAGE_RECYCLE)
      no-repeat center center;
  display: block;
}

.camera.live.online #supervised-user-creation-take-photo {
  background: url(chrome://theme/IDR_USER_IMAGE_CAPTURE)
      no-repeat center -1px;
  display: block;
}

#supervised-user-creation-image-preview .perspective-box {
  border: solid 1px #cacaca;
  border-radius: 4px;
  padding: 2px;
  perspective: 600px;
  width: 220px;
}

.supervised-user-creation-image-stream-area .spinner {
  display: none;
  height: 44px;
  left: 50%;
  margin-left: -22px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  width: 44px;
}

.camera.live:not(.online) .supervised-user-creation-image-stream-area .spinner {
  display: block;
}

#supervised-user-creation-navigation {
  color: rgba(0, 0, 0, .54);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
