/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  font-size: 20px;
}

div.section {
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

div.section.hidden {
  display: none;
}

h2 {
  color: rgb(74, 142, 230);
  font-size: 100%;
  margin-bottom: 0;
}

.err {
  color: red;
}

.section-details {
  width: 100%;
}

.section-details th {
  background: rgb(239, 243, 255);
}

.section-details td {
  vertical-align: top;
}

.section-details td.detail {
  text-align: right;
  width: 1px;
  white-space: nowrap;
}

.section-details td.value input {
  width: 100%;
}

#popular-json-value {
  font-size: 75%;
}
