// Uses vertical_rythm library from
// http://compass-style.org/reference/compass/typography/vertical_rhythm/
// as explained in _typography.scss
@import "compass/typography/vertical_rhythm";

.api {
  color: #333;
  font-size: 14px;

  .api-summary {
    td, th {
      padding: 5px 10px;
    }
  }

  .api-reference {
    .description {
      margin-left: 20px;
    }
    table {
      .innerTable {
        margin: 10px 0;
        td, th {
          padding: 5px 10px;
          border: 1px solid #eee;
        }
        th {
          background: none;
        }
      }
      p {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
      }
      p:first-child {
        margin-top: 0;
      }
    }
    td, th {
      vertical-align: top;
      border: 1px solid #eee;
    }
    th {
      background: #fafafa;
    }
    h2 {
      background-color: darken($gray-light, 5%);
      padding: $default-padding;
      margin-left: $default-padding * -1;
      margin-right: $default-padding * -1;
    }
    h3 {
      margin-top: rhythm(2);
    }
  }

  .availability {
    color: #A03;
  }

  table#intro {
    .title {
      white-space: nowrap;
    }
  }
}
