.demo {
  * {
    box-sizing: border-box;
    webkit-box-sizing: border-box;
  }

  div {
    flex: 1 1 auto;

    .panel-info {
      border-top: 1px solid #cccccc;
      margin-top: 20px;
      padding-top: 20px;
    }
  }

  div.Demo-body {
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;

    embed {
      display: block;
      flex: 1 1 auto;
    }
  }

  div.Demo-content {
    display: flex;
    flex-direction: column;
  }

  div.intro {
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 0;
  }

  .intro {
    max-width: 360px;
    padding-right: 40px;
  }

  p {
    margin: 0 0 1em 0;
  }

  p.note {
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

  section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    padding: 0 25px 25px 0;
  }

  td, th {
    border: none;
  }

  td.name, th.name {
    font-weight: bold;
  }

  tr {
    border: none;
  }
}
