
#gc-pagecontent {
  .g-section {
    h1, h2, h3 {
      margin: 0;
    }
  }
}

#upcoming-events, #featured {
  .screenshot {
    margin-top: 0;
  }
}

#upcoming-events {
  article {
    border: $default-border;
    border-width: 0 0 1px 0;
    padding: $default-padding 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: none;
    }
  }
}

#site-sections {
  background-color: $gray-light;
  //padding: $main-content-top-margin / 2;
  padding: $default-padding;
  text-align: center;

  h2 {
    padding-top: 20px;

    &::before {
      display: block;
      content: '';
      background: url("../../images/bucket-icons.png") 12px 50% no-repeat;
      width: 100px;
      height: 65px;
      background-size: cover;
      margin: auto;
      margin-bottom: 20px;
    }
    &.multidevice {
      &::before {
        background-position: -91px 50%;
      }
    }
    &.platform {
      &::before {
        background-position: -194px 50%;
      }
    }
  }
}

#developer-news {
  margin-top: 4em;

  .g-content {
    margin-right: $default-padding;
  }

  h1 {
    margin-bottom: $default-padding * 2 !important;
  }  
}


// Larger than Phone
@media only screen and (min-width: $break-small)  { 
  #featured {
    $column-padding: 30px;
    padding-right: $column-padding;
    padding-bottom: $default-padding / 2;
    border: $default-border;
    border-width: 0 1px 0 0;

    img {
      margin-bottom: $default-padding;
    }
  }
}

// // Tablet
// @media only screen and (min-width: $break-small + 1) and (max-width: $break-large) { 

// }
