/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.account-picker.flying-pods #account-picker {
  transition: width 180ms ease, height 180ms ease;
}

#bubble,
#bubble-persistent {
  margin-top: 16px;
  z-index: 1;
}

#signin-banner-container1 {
  height: 64px;
  max-width: 450px;
  position: absolute;
  z-index: 3;
}

#signin-banner-container2 {
  display: inline-block;
  position: relative;
}

html[dir=rtl] #signin-banner-container2 {
  left: -50%;
  right: auto;
}

#signin-banner {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: #FFF;
  display: none;
  font-family: "Roboto";
  font-size: 13px;
  position: relative;
  text-align: center;
}

html[dir=rtl] #signin-banner {
  left: auto;
  right: -50%;
}

#signin-banner.warning {
  -webkit-padding-start: 128px;
  background-color: transparent;
  color: rgb(215, 68, 57);
  font-size: 10px;
}

#signin-banner.warning::before {
  background-image: url(../../webui/resources/images/icon_error_outline.svg);
  background-size: 20px;
  content: '';
  height: 20px;
  left: 24px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 20px;
}

html[dir=rtl] #signin-banner.warning::before {
  left: auto;
  right: 24px;
}

html[screen=user-adding] #signin-banner {
  background-color: rgba(0, 0, 0, 0.34);
  display: inline-block;
}

html[screen=user-adding] #signin-banner,
html[screen=login] #signin-banner {
  padding: 20px 24px;
}

html[screen=user-adding] #signin-banner.warning,
html[screen=login] #signin-banner.warning {
  -webkit-padding-start: 52px;  /* 24 + 20(icon width) + 8 (icon padding). */
}

html[screen=login] #signin-banner,
html[screen=lock] #signin-banner {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
}

html[screen=login] #signin-banner.message-set,
html[screen=lock] #signin-banner.message-set {
  opacity: 0.8;
  transition: opacity 1s;
  visibility: visible;
}

.small-pod-container {
  overflow: scroll;
  position: absolute;
}

.small-pod-container.images-loading {
  visibility: hidden;
}

.small-pod-container.show-overflow {
  overflow: visible;
}

.small-pod-container::-webkit-scrollbar {
   width: 0;
}

.small-pod-container.scroll::-webkit-scrollbar {
   width: 6px;
}

.small-pod-container.scroll::-webkit-scrollbar-thumb {
   background-color: rgba(255, 255, 255, .17);
   border-radius: 8px;
   display: none;
}

.small-pod-container.scroll:hover::-webkit-scrollbar-thumb {
  display: block;
}

.small-pod-container::-webkit-scrollbar-corner {
  background-color: transparent; /* Hides the default white box. */
}

.small-pod-container-mask {
  height: 112px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.small-pod-container-mask.images-loading {
  visibility: hidden;
}

.small-pod-container-mask.rotate {
  transform: rotate(180deg);
}
