/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.account-picker.flying-pods #account-picker {
  transition: width 180ms ease, height 180ms ease;
}

#bubble {
  z-index: 1;
}

#signin-banner-container1 {
  bottom: 100%;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
}

html[screen=login] #signin-banner-container1 {
  margin-bottom: 6px;
}

#signin-banner-container2 {
  display: inline-block;
  position: relative;
  right: -50%;
}

html[dir=rtl] #signin-banner-container2 {
  left: -50%;
  right: auto;
}

#signin-banner {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: whitesmoke;
  display: none;
  left: -50%;
  max-width: 722px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: max-content;
}

html[dir=rtl] #signin-banner {
  left: auto;
  right: -50%;
}

html[screen=user-adding] #signin-banner {
  display: inline-block;
}

html[screen=login] #signin-banner {
  padding: 20px 24px;
}

html[screen=login] #signin-banner,
html[screen=lock] #signin-banner {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
}

html[screen=login] #signin-banner.message-set,
html[screen=lock] #signin-banner.message-set {
  opacity: 1;
  transition: opacity 1s;
  visibility: visible;
}
