# This is a standard .gitignore file, used to exclude certain files
# from a 'git status' command and other similar commands.
# Please keep each section in alphabetical order.

# Ignore these filename patterns
*~
*.pyc
*.pyo
*.swp
testserver.log

# Ignore these directories wherever they appear
.cproject/
.project/
.pydevproject/
.settings/

# toolchain_build/toolchain_build.py creates these.
/cmake343/
/toolchain_build/cache/
/toolchain_build/git_cache/
/toolchain_build/out/
/toolchain_build/src/

# Ignore these absolute directories (relative to native_client directory)
/build/Debug/
/build/Release/
/chromebinaries/
/scons-out/
/toolchain/
/tools/BUILD/
/tools/out/
/tools/perf_expectations/
/tools/SRC/
/tools/gn/bin/linux
/tools/gn/bin/mac
/tools/gn/bin/win

# These directories only show up if you have supplement.DEPS in your .gclient
/private_tests/
/private_tools/
/supplement/

# These directories are created by running tests/spec2k/run_all.sh
/tests/spec2k/bin/
/tests/spec2k/[0-9][0-9][0-9].*/

# These directories are created by pnacl/build.sh
/pnacl/build/

# Ignore the hermetic cygwin used on windows toolchain builds.
/cygwin/
