/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.blocking {
  background-color: white;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.blocking > #buttons {
  padding-bottom: 24px;
  padding-top: 20px;
}

.blocking > div > #title {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.125em;
  padding: 10px;
  vertical-align: middle;
}

#blocking-icon {
  color: var(--google-red-500);
  height: 75px;
  padding-top: 24px;
  width: 75px;
}

.non-blocking {
  background-color: var(--paper-grey-800);
  padding: 16px;
  width: inherit;
}

.non-blocking > #buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.non-blocking > #buttons > .button {
  color: var(--paper-blue-300);
}

.non-blocking > #buttons > #default-button {
  -webkit-margin-end: 24px;
}

.non-blocking > div > #title {
  -webkit-margin-end: 12px;
  -webkit-padding-end: 12px;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
}

paper-button {
  margin: 0;
}