{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 2,
  "name": "__MSG_SELECT_TO_SPEAK_NAME__",
  "version": "{{set_version}}",
  "description": "__MSG_SELECT_TO_SPEAK_DESCRIPTION__",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "background": {
    "scripts": [
      "closure_shim.js",
      "constants.js",
      "automation_predicate.js",
      "tree_walker.js",
      "automation_util.js",
      "node_utils.js",
      "paragraph_utils.js",
      "word_utils.js",
      "rect_utils.js",
      "select_to_speak.js",
      "select_to_speak_main.js"
    ]
  },
  "permissions": [
    "accessibilityPrivate",
    "commandLinePrivate",
    "metricsPrivate",
    "storage",
    "tabs",
    "tts",
    "https://docs.google.com/*",
    "https://docs.sandbox.google.com/*",
    "clipboard",
    "clipboardRead",
    "clipboardWrite"
  ],
  "automation": {
    "desktop": true
  },
  "default_locale": "en",
  "options_page": "options.html",
  "content_scripts": [
    {
      "matches": [ "https://docs.google.com/document*",
                   "https://docs.sandbox.google.com/document*" ],
      "js": [
        "select_to_speak_gdocs_script.js"
      ]
    }
  ]
}
