/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0 0 20px 0;
    padding: 0;
}

body,
button,
input,
select {
    background-color: rgb(241, 241, 241);
    font-family: Roboto;
}

h1 {
    background: rgb(247, 58, 152);
    color: white;
    display: block;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    width: 100%;
}

h2 {
    color: rgb(97, 97, 97);
    font-size: 13px;
    height: 15px;
    margin-top: 21px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 646px;
}

.option {
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    min-height: 60px;
    padding: 0 20px;
    vertical-align: middle;
    width: 646px;
}

.sub-option {
    font-size: 13px;
    max-height: 60px;
    opacity: 1;
    overflow: hidden;
    padding: 0 24px;
    transition: max-height 150ms ease-in;
    vertical-align: middle;
    width: 622px;
}

.sub-option.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 150ms ease-out;
}

.option input[type='checkbox'] {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url(unchecked.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    float: right;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 40px;
}

.option input[type='checkbox']:checked {
    background-image: url(checked.png);
}

.option select {
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 0 1px 0;
    line-height: 60px;
    margin: 20px 0;
    min-height: 20px;
    padding: 0;
}

.option input {
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 0 2px 0;
    outline: none;
}

.option input:focus {
    border-color: rgb(0, 0, 255);
}

.option button {
    background-color: #ddd;
    border-width: 0;
    font-weight: bold;
    height: 30px;
    margin-left: 20px;
    padding: 0 20px;
}

label {
    line-height: 60px;
    vertical-align: middle;
}

.example {
    display: inline-block;
    float: right;
    font-size: 1em;
    height: 60px;
    line-height: 60px;
    padding: 0 3px;
    vertical-align: middle;
}

.dark {
    background: black;
    color: white;
}

.light {
    background: white;
}

.highlight {
    height: 20px;
    opacity: .3;
    position: relative;
    top: -40px;
    width: 100%;
    z-index: 10;
}

.slider {
    -webkit-appearance: none;
    padding: 15px 0 15px 0;
    transition: all 200ms ease;
    width: 200px;
}

.slider::-webkit-slider-runnable-track {
    background: #bbb;
    border: none;
    border-radius: 1px;
    height: 2px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-transition: 200ms;
    appearance: none;
    background: rgb(51, 103, 214);
    border-radius: 50%;
    height: 10px;
    margin-top: -3px;
    width: 10px;
}

.slider:focus::-webkit-slider-thumb {
    background-clip: padding-box;
    border: 10px solid rgba(51, 103, 214, .2);
    height: 30px;
    margin-top: -13px;
    width: 30px;
}

.slider:active::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border:0px;
    border-radius:50%;
    height: 20px;
    margin-top: -10px;
    width: 20px;
}
