/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.appcache-summary {
  background-color: rgb(235, 239, 249);
  border-top: 1px solid rgb(156, 194, 239);
  margin-bottom: 6px;
  margin-top: 12px;
  padding: 3px;
  font-weight: bold;
}

.appcache-item {
  margin-bottom: 15px;
  margin-top: 6px;
  position: relative;
}

.appcache-url {
  color: rgb(85, 102, 221);
  display: inline-block;
  max-width: 500px;
  overflow: hidden;
  padding-bottom: 1px;
  padding-top: 4px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.appcache-info-template-table {
  table-layout: fixed;
}

.appcache-info-properties {
  word-wrap: break-word;
}

.appcache-info-url {
  color: rgb(85, 102, 221);
  display: inline-block;
}

.appcache-manifest-url {
  color: rgb(85, 102, 221);
  display: inline-block;
  max-width: 500px;
  overflow: hidden;
  padding-bottom: 1px;
  padding-top: 4px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.appcache-info-item {
  margin-bottom: 10px;
  margin-top: 6px;
  margin-left: 6px;
  position: relative;
}

.appcache-manifest-commands a {
  -webkit-margin-end: 16px;
  color: #777;
}

.appcache-info-template-file-url {
  width: 200px;
  height:25px;
}

.appcache-info-template-file-url {
  color: rgb(60, 102, 221);
}
