/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#route-action-buttons {
  @apply --layout-horizontal;
  @apply --layout-end-justified;
  margin: 0 10px;
  padding: 0;
  white-space: nowrap;
}

.route-button {
  background-color: white;
  line-height: 12px;
  margin: 12px 0;
  text-align: end;
}

#route-description {
  -webkit-padding-end: var(--dialog-padding-end);
  -webkit-padding-start: 44px;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 16px;
}
